{% extends 'base.html' %}
{% load static %}
{% block metadesc %}
    <meta name="description"content="Enjoy free fast delivery, exclusive series on Prime video, millions of ad-free podcasts, Prime Reading and unlimited 5% reward points." />
{% endblock %}
{% block metakeywords %} 
    <meta name="keywords" content="Amazon Prime Youth Offer, Amazon Youth Offer, Amazon prime student, student discount Amazon Prime, Amazon Prime Membership Youth Offer, Youth Offer Amazon Prime" />
{% endblock %}
{% block title %}Amazon Prime Student Discount | Upto 50% Cashback{% endblock %}

{% block linkshead %}

<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
    .prdouctimg {
        background: rgb(104,229,255);
        background: radial-gradient(circle, rgba(104,229,255,1) 40%, rgba(0,192,232,1) 85%);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/amazonprime_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/amazonprime_logo.webp' %}" alt="">
        </div>

        <div class="content">
            <h1>Upto 50% Cashback</h1>
            <p><a href="https://www.amazon.in/amazonprime" target="_blank">at Amazon Prime</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://www.amazon.in/b?ie=UTF8&node=15307611031" target="_blank">Get Offer</a>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>About this Student offer</h4>
            <p>
            ▪	Get Amazon Prime Youth Offer by paying Rs.999 or Rs.329 and get Rs.500 or Rs.165 respectively as Amazon Pay Cashback.<br>
            •	Click on Get Offer to avail the offer.<br>
            •	Unlock 50% cashback on 1-year & 3-month Prime memberships under Amazon Youth Offer.<br>
            •	Enjoy free fast delivery, exclusive series on Prime video, millions of ad-free podcasts, Prime Reading and unlimited 5% reward points. Sign up for Amazon prime student offer, Now!<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>Terms & Conditions</h4>
            <p> •	Offer is applicable only for University students in India.<br>
                •	Offer for student discount Amazon Prime is available only for 18-24 year old customers.<br>
                •	Age verification is mandatory to avail Amazon Prime Student offer.<br>
                •	Offer is available only on mobile (Amazon Android/iOS app)<br>
                •	Offer Validity : 31st March, 2022 <br>
                •	Read detailed Terms & Conditions before availing the Amazon Youth Offer.<br>
                •	To know more about Amazon Prime Membership Youth Offer, <a style="color:#0d6efd" href="https://www.amazon.in/b?ie=UTF8&node=15307611031">click here.</a><br>
                •	StudentPeeps only redirects you to the official brand's website, and has not partnered up with Amazon.in yet. All queries and disputes concerning Youth Offer Amazon Prime have to be entertained by Amazon.in and not StudentPeeps<br>                
            </p>
        </div>
    </div>
</center>


{% endblock %}