{% extends 'base.html' %}
{% load static %}
{% block metadesc %}
    <meta name="description"content="Save on a new Mac, iPad or any Apple accessory with Apple student discounts. Shop iPhone, iPad, Apple Watch, Mac, TV, accessories, etc" />
{% endblock %}
{% block metakeywords %} 
    <meta name="keywords" content="apple student discount india, student discount apple India, apple store student discount, apple ipad student discount, student discount on apple products, apple macbook air student discount india, student offer apple, apple student offer in india, apple student offer india, student offer apple india">
{% endblock %}
{% block title %}Apple Student Discount | 10% off{% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
    .prdouctimg {
      background: rgb(71,71,71);
background: radial-gradient(circle, rgba(71,71,71,1) 51%, rgba(129,128,128,1) 100%);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/apple_inner.webp' %}" alt="" />
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/apple_logo.webp' %}" alt="" />
        </div>

        <div class="content">
            <h1>10% Student Discount</h1>
            <p><a href="https://www.apple.com/in/" target="_blank">at Apple</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://www.apple.com/in-edu/shop" target="_blank">Get Offer</a>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>About this Student offer</h4>
            <p>
            • Offer is applicable only for University students in India.<br>
            • Offer is not applicable for those who already tried the Apple student offer in India. <br>
            • Offer Validity : 31st March, 2022 <br>
            • Read detailed Terms & Conditions before availing the Apple Student offer India.<br>
            • Student offer Apple India is available to current and newly accepted university students, parents buying for them, teachers and staff at all levels.<br>
            • Quantity limits apply to Student offer Apple.  Visit the Apple Store for Education for full details.<br>
            • StudentPeeps only redirects you to the official brand’s website, and has not partnered up with Apple India. All queries and disputes concerning student discount Apple India have to be entertained by Apple India and not StudentPeeps.<br>
            
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>Terms & Conditions</h4>
            <p> • Offer is applicable only for University students in India. <br>
                • Offer is not applicable for those who already tried the Apple student discount in India. <br>
                • It cannot be clubbed with any other coupon/voucher. <br>
                • Offer Validity : 31st March, 2022 <br>
                • Read detailed Terms & Conditions at  https://www.apple.com/in-edu/shop<br>
                • Studentpeeps only redirects you to the official brand’s website, and has not partnered up with Apple India. All the queries and questions have to be entertained by Apple India and not Studentpeeps. 
            </p>
        </div>
    </div>
</center>


{% endblock %}