{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeep >> UnluClass{% endblock %}

{% block linkshead %}

<link rel="stylesheet" href="{% static 'css/aftercode.css' %}">
<script src="{% static 'js/aftercode.js' %}"></script>

<style>
    .prdouctimg {
       background: rgb(112,93,167);
        background: radial-gradient(circle, rgba(112,93,167,1) 38%, rgba(33,22,65,1) 100%);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'images\unluclass_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img  id="center-img" class="final" src="{% static 'images/unluclass.png' %}" alt="">
        </div>

        <div class="_all">
        <div class="wrapper">
            <div class="content">
                <h1>40% Student Discount</h1>
                <p><a href="https://cutt.ly/TRYJNQX" target="_blank">at UnluClass</a></p>
            </div>
            <div class="copy">
                <p>Copy code and enter on the<br>
                    UnluClass Website</p>
            </div>


            <div class="showcode"  id="bro" onclick="copyElementText(this.id)">code... <div class="copy-btn"><i class="fa fa-copy"onclick="copy()"></i></div></div>
            <div class="button d-grid gap-2 col-6 mx-auto">
                <a href="https://cutt.ly/TRYJNQX" target="_blank"><button class="btn btn-primary" type="button">Open
                        Site & Use Code</button></a>
            </div>
            <hr>
        </div>
            <div class="contenttext">
                <h4>About this student discount</h4>
                <p>• Avail any course at a discount with Studentpeeps. <br>
                   • Use our Unluclass student discount code at the checkout. <br> 
                   • Unlock 40% off on your favorite course. <br>
                   • Grab your chance to learn skills from India’s most inspiring celebrities, Now!                                
                </p>
            </div>
            <hr>
            <div class="contenttext">
                <h4>Terms & Conditions</h4>
                <p>• It is applicable on all classes at Unlu.io. <br>
                   • It cannot be clubbed with any other coupon/voucher. <br>
                   • Coupon Validity : 1 Month                               
                </p>
            </div>
        </div>
    </div>
</center>

<script>
    const code = [
        '81AB5E12F6',
        '2A2A3E2785',
        'AC662274AB',
        '6FAA58E4CB',
        'A9F1A7A573',
        'B39C875721',
        'D8CC7AC643',
        '1E47A7FF87',
        'DCE973559F',
        '97C524B5BB',
        'CC79E17921',
        'B15D1252BB',
        '5C5C76BCDF',
        'EC8B1221A5',
        '411A78A272',
        '5988C1BA2F',
        '351CD3623C',
        '36337D11AC',
        '5FCF1E891E',
        '9BCE799C76',
        '6E36E9BD4A',
        '9364F7FAC8',
        'D8A153ADDB',
        '4FDCE6AF5B',
        '536D24B97C',
        'E443E39A64',
        'D31ECAFE8A',
        '86A5FDEAE4',
        '47626ECDEC',
        '171B9661DA',
        'C3ED417E62',
        '68D988CADD',
        '37582AD51E',
        '28A3E423AE',
        'B327392855',
        'D3CEA89F59',
        'F63D81DB8E',
        'E7BFB13861',
        'E31436BDDA',
        '32F77B3C3E',
        'FD6C6E2C35',
        '97751646C5',
        '1A234E18E3',
        'F68C4C7DD9',
        '928BA78829',
        '7576726672',
        '3EF3631E65',
        'EDC34F7216',
        '817971DCFD',
        '818EE4373B',
        '71C552734C',
        'CB782B279C',
        '4DC944397E',
        '75B22C53F5',
        '9D316186C3',
        'BC23C31BA9',
        '95E49E65BA',
        'C2EFAC659B',
        'A3746A6F12',
        '649FC3C121',
        '561626CB94',
        '9E9CFAD23A',
        '8AC2D2D3B7',
        '695425ECD9',
        '547DA1942C',
        'B4AC4E6D37',
        'F8BDEA85E6',
        'A497BCED52',
        '7B8E4A9C9C',
        '1FF422AC7B',
        'C53B9B55A9',
        '5A7CAFC8F3',
        '6DCFF983B4',
        '63BF5E561B',
        '783562A2AD',
        '7C555A4FB9',
        '8136951D95',
        'D7FF77FA2B',
        'C9855C21B2',
        'AF85763B44',
        '82B5248FFF',
        '94FA6BE8CC',
        '8D66F73A24',
        '2773799DBD',
        '2B7FBF1251',
        '2B7F623997',
        '6C54D8D169',
        '86BB6D8E92',
        'B641EFC659',
        '22EE3621EB',
        '2AAB11F2EA',
        'E659A45FB6',
        'A6EECE6B75',
        'E55B6FBF2E',
        '465C322CEA',
        '74CBE36515',
        '89E6B1FB13',
        '54E3A75B27',
        '878752118A',
        '29DC3FB6A6',
        '968F9B58E2',
        'E8D8253B35',
        'FB94317A59',
        'F564DBEC71',
        '5C8B45113A',
        '4AB358E633',
        '5BACA27AA8',
        'A7B159E9D4',
        '18CAB4A9CA',
        '3829A57DA7',
        '71EE798B24',
        '346B222EFB',
        '7DDE6B7755',
        'B523CC2CEE',
        '1EC35F19AB',
        '1CEE14A7B3',
        '3C3649DFB5',
        'B7A4C23278',
        'A19CB7841E',
        '6D53D5C76F',
        '457376E1C5',
        'E992B4263E',
        'DEA4D8EAEE',
        '6C93262714',
        'B8A9B48D91',
        '7AB9F4AE3B',
        'FCFAD9DDDC',
        'ABDADCEF2C',
        '6A48D82E3B',
        'E14B9AC376',
        '75A6FC3A27',
        '95E6863F65',
        '54BB3A49B4',
        '88645D3786',
        'C2E6E93FAC',
        'FB79448B61',
        '8EA195B239',
        '8728616F48',
        '5F2E426BD3',
        '5BB7A6CB83',
        'A1D89BA49A',
        '6D9C59B652',
        'D831753387',
        '3C441E971A',
        '43813C35E8',
        '3FEFBDDED7',
        '76F71F2DF5',
        'BD7F65821C',
        'B8849F1E65',
        '54E695EB75',
        'C344C88F41',
        'F5A94FFC68',
        '42BBFA2BB5',
        'E8A299E96A',
        '2CF2522D68',
        'E9D19C7853',
        '2D2FE4D9F6',
        'D1F29DDEC9',
        '74233A7712',
        '15E71C4FDA',
        '3EC5C78E95',
        '6AE9A82F83',
        'EF68844741',
        '5C65A34A5A',
        '5ECEB3CD92',
        '3FD9FC71BB',
        '4DE3A3113D',
        'D77722EAF7',
        '99B5E227E3',
        '455A42FB14',
        '7E53C1181C',
        '11D342FA79',
        'E422FEAD86',
        'E3EC4CED3D',
        'A97467A7C1',
        'E7B6FED55B',
        '99546F4F1F',
        '561139125F',
        'EDDD915734',
        '9E765FD88E',
        '6E3124BE22',
        '3FC8B4BA46',
        '9F5A8D972A',
        '2889B9C9C8',
        'F7486742EB',
        'C1DF68EC4D',
        '821DC64AC7',
        '6B3BB7C941',
        '4F5FC8DF5C',
        'C9AAD14F57',
        '6225EFFAFD',
        'EB9ABD4AF2',
        'B1FC1138B9',
        '48494B7487',
        '642C91E28F',
        'A8EDE7A5CB',
        'D8A5D3A668',
        '485D91461A',
        '8D5DA577D1',
        'E486478A3A',
        '53B9B45AFE',
        '9DE55418B9',
        '54FE89EDBF',
        '2D8CCF6269',
        '2E2B8E9CCE',
        '3BCFA39782',
        'FDA682C11B',
        'C87698A97F',
        '5DF1F3DE12',
        'E7EF55C1E2',
        '9E7CF612A4',
        '2C8D28B735',
        'C231D362AE',
        '5215944993',
        'ED22722A14',
        'B75D59CB37',
        '1EAF44C557',
        '8282BB8A6A',
        '6A14BC7745',
        'C7F11B44DE',
        '7187BE748C',
        'B7CCB52FBE',
        '92E547B597',
        'A127BDFF36',
        'BB28E9E9DA',
        'E33379BA7B',
        '1961B2CF96',
        'F8AC562181',
        'AEE36B4822',
        '1FE6658AE5',
        '1FED566B9B',
        '9874799FDC',
        '3CA5B7794B',
        '618C13F315',
        '2814DF32DE',
        '8C3A36B63B',
        'BD64C1B57C',
        '66122373AC',
        'F16683F475',
        '5BCDA678C4',
        '1DA8C33C94',
        '24F6297723',
        '15AD83227B',
        'FA316631A5',
        '1F9D6E5BE3',
        '87FD4595F5',
        'AFE19641CF',
        'D2B64C3EFD',
        '581427BDB7',
        '5155DB3DF4',
        '544DDC8B3C',
        '545D261D51',
        'D141DBA234',
        '1BAC24F85F',
        'DAEB8F333E',
        '926A861B34',
        '2F94536BB2',
        'F5D7974621',
        'C7AFF999BD',
        '9612FA1553',
        '6E19E53B94',
        'F48B995E6A',
        '53EC572AAD',
        '1A912598A4',
        '4986D529FF',
        '125F7314E5',
        '27EB693F99',
        'F77FC45FCC',
        '16DECF7191',
        'C1A6D6B13B',
        '1A2E846AD3',
        '2122398CBE',
        'CBC7431819',
        'E4BE533A66',
        'C55355A9EA',
        'AB3BCA9584',
        '382B498CBD',
        'E7B51DA94E',
        '28419259C4',
        'CA7F33344A',
        'FC2F95792D',
        'B663BE95B6',
        '62C5B91596',
        '9BA31436B2',
        '9379FEFE2A',
        'B2C27267F5',
        '5937C7446E',
        'D55977C27B',
        'F861D8A495',
        '5BB41B6DFB',
        'FCE28135CC',
        'D95CA2E854',
        '33984B15C1',
        '7E1E71D59E',
        '1A49FF7E8E',
        '8A23B81CCE',
        'F5222D2C5F',
        '698A77D2B8',
        '18CCA5AC8E',
        'CA23825D76',
        '186BD6E4F6',
        '853D81584E',
        '13F21F78DA',
        'DDBF87FE96',
        '37D79A75E7',
        'CE736EBC47',
        '1EBDE653F9',
        'D1F1D8A53F',
        '527B4DB131',
        '633D84D945',
        '1CAE19B5E6',
        '28398F29FF',
        'ED5A28146A',
        '5DEB5B4CCA',
        'D54D58F6A6',
        'EAD299DED9',
        'DA63D4E6D9',
        '4494B69CA8',
        'BB5A3A3127',
        '52FA8A4C75',
        '67ED232277',
        '34BD87A9BC',
        'F449DA7B53',
        'B45781656B',
        '1C2253E13D',
        '8CA945D2C3',
        '318C3786D2',
        'F8C4EE544E',
        '8CEF551C4C',
        '76C9F14747',
        '499E59FB43',
        '81C9958A51',
        '85C98514E2',
        '671C177A6B',
        '4328CEF654',
        '54FF17255D',
        '8B8EBB39D9',
        '3AC1E8F73D',
        '7F7C7CE449',
        '412AC33D6B',
        '35C3C4329F',
        'AE8F39DDBC',
        'A8AEEE8891',
        '6F4914E2C5',
        'CCA19C9EEE',
        '3681DA7C8F',
        '6E4A98ACB4',
        '79C3C8FB8D',
        '875689FBC5',
        'AA2B9BE6EF',
        'A25B7FF3B1',
        '3C5F8BB47C',
        'DFC38B5DED',
        '3F1122E27F',
        '9E3D8F85B1',
        'CBFFD81B3C',
        '634ADBA34D',
        '29D3E447BB',
        'C6FB1A21CA',
        '17B7DEE473',
        'EC1E989AFD',
        '6AC748ED4F',
        'F354A8EF14',
        'CD9DF9E665',
        '41466D7DFC',
        'BCBDC33615',
        '6EA6542CE6',
        '1E84AE1E82',
        '24BD9BB86B',
        'AD4EFEA792',
        'AD6C8E8D1C',
        'B92E7628F4',
        '28F8A7B34E',
        'DA471BCCEA',
        '94886248FE',
        'C259837627',
        '42E6F5EF56',
        '325732A8C3',
        'D3871C4B9A',
        'D34D44D96F',
        '41977E6E8F',
        'CB9AB84CD1',
        '3829D7E8D7',
        'ACFFCC1BA4',
        '18EA776A7E',
        '66A1BBAA3E',
        '2FD26E7361',
        '21847A46AA',
        '7E881DFEC6',
        'E53EEAD92E',
        '2D7D261A3B',
        'E359DA962D',
        'FBEA259DE1',
        '67FAEA384C',
        'C5926E3A7D',
        'B96C7A776C',
        '7AF493DEEC',
        'C3913B21B1',
        '331FC21A93',
        '2A955AAF1A',
        '1328E673E3',
        '51F6446243',
        '8D726FAD79',
        '6EFC3B2221',
        'BEF65D14BD',
        '5B97F7A51C',
        'B93E85721E',
        '78B9DB8AB2',
        'FD65ADC32E',
        '6BB2B89F5A',
        'D8412D95BD',
        'A74385A69E',
        '37D67FFA6D',
        'A9F8449784',
        '2865E1923E',
        'F2F35E73E9',
        '2A7ECC161B',
        '93553997C8',
        '5EEFB757AF',
        'A69ECB85CA',
        '85C3CEDE63',
        'D34667EBC6',
        'F73AD435DA',
        'D4BC5BBD37',
        '9523A5E99A',
        '91E63686C6',
        '679B5616F9',
        'E7979D9933',
        '9A56BD8AE2',
        '3F59E3A476',
        '842E35A68F',
        '9C11726A5D',
        '377BC6899A',
        '5DFC757CC7',
        'C5797DE23A',
        '16A6F4F65E',
        'EE16739454',
        '33AEEBBFC9',
        'DA5A8E4431',
        'BA8C31CEB2',
        '4664F2B3B2',
        '2CFC4EA3F3',
        '17B1B185E4',
        'DED67DDC84',
        '6FA34C15E4',
        '12A8EA2C47',
        '44A467FABD',
        '55F324C8C6',
        'DD4AEF9869',
        '3EC77BE448',
        'BB3AF4FD5E',
        '42E5C56E29',
        'BD8AE23374',
        '49BD3FD7A1',
        '788C3E5761',
        '2FCF82CCB2',
        '6998375B3A',
        '3211E185E3',
        '6F6F32C9CD',
        'B58364FB14',
        'B143A48CE5',
        '1EE74FD863',
        'B85CC47CB3',
        '11D98F545F',
        '2197AB1613',
        '5FB19FAFA2',
        'F1797ED4C2',
        'D65BE1817A',
        '6CD9ADF811',
        '14E779E687',
        'F3E4B65AD5',
        'B244AF497E',
        'A53773C72A',
        '95C5F4753E',
        '383FBD631F',
        '1CCA3724DF',
        'B9D813F2F7',
        'FEAE7FC6C4',
        '1683D9C2AA',
        '5A64267419',
        '12ECE9DCFF',
        'A6DF68FBC3',
        '121FB4C174',
        '5FEBB97F1A',
        'BE2C9DA654',
        '5888837D19',
        'EDCB718D7E',
        '9793BDB166',
        'DE6C7A1694',
        'E5FB33AB6C',
        'F592CB769F',
        '4DA565F185',
        '869196297E',
        '8DFA8FFF3F',
        '267E6615FE',
        'D71F7D45F7',
        'E5869C8DBF',
        '3313867BC6',
        'E51C3FA5E8',
        'AE2C7FE6C2',
        '7F17DFB921',
        'F9123212B4',
        'AC75EE9553',
        '7333FF635D',
        'C5928B7B3C',
        '331A542EE5',
        '6A2E5DF4C3',
        '399545277D',
        '83BEEC3A8E',
        '3221C7B31E',
        '99D78D28E8',
        '211DDD69DB',
        '352A321BF8',
        '33CFD3219B',
        'C5D622B276',
        'E662347274',
        'CA33366FA3',
        '4D773761C2',
        'D8D41F43BE',
        '7FBCA3EB33',
        '5B95AAB956',
        '223486EC66',
        '5C5D2F9AAD',
        '7B6C6A24C2',
        'C586CF5E27',
        '19BD3E3C5C',
        'A251BA699B',
        '1F19164B75',
        '5A623AF5CB',
        '4CCC39EE5A',
        '36461A7828',
        '613B56DAF5',
        '6BB49DBB3A',
        '5DFD99E46D',
        '3382FB4677',
        'BE9ADD93D1',
        '68FC7A9425',
        '55F6778719',
        'ACDD3A427D',
        'D32CAE3D52',
        'D61385BFBE',
        '3A953777A9',
        '74BEF12A5B',
        'B48A1A78DD',
        '2B77AAA177',
        'C911ACCC12',
        '3592F49FFC',
        'BD3DB7B7B3',
        '9D324FAD77',
        'B357547EBA',
        'C2B2A3E11C',
        '2A57711647',
        'CC43A7718B',
        '5F9D316AD3',
        'FC9ECE9839',
        '6A7479D85C',
        '696F6A96EA',
        '71F4AD96D8',
        '84819BC6FB',
        'FAF4F1E589',
        '5D31583111',
        'FC5B2BA673',
        'AEC1B963CE',
        'ADC6B5C428',
        '95B17192F3',
        'AACDD99986',
        '1F5DD52462',
        'B94E57168D',
        'A3C571D4E5',
        '9D357ED11C',
        'D31B8E221D',
        '42E377246B',
        'BFCDB9BFD2',
        'A2E23E5F33',
        '8B839989D2',
        '45C8A7EFB6',
        '661769ED75',
        '7C2345D5D9',
        'CC1839EDA2',
        'ED5981D733',
        'DB9BEDEB28',
        'C4EC3A4374',
        'BBF1119529',
        'CE4FF89CAE',
        '3E84CFBB67',
        '7C7678C638',
        '5A5A65553A',
        'A2F67F5358',
        '523A993A6E',
        '797C816235',
        'C698A5BCAE',
        '5D7CAFE16F',
        '2D2124B9DE',
        'AA6BE9233F',
        'D437571468',
        '14D67CE3EE',
        'E69D332D26',
        '828DE694AE',
        'CFCBA8FBDB',
        'F41DB94C8D',
        '55321F5C83',
        'E2A1FD7F5D',
        '13E36AABF9',
        '338181E8A8',
        'F1C27AAC81',
        'ED985E986C',
        '8FC1CF4C52',
        '5E869B6BB9',
        '4E3B757E4D',
        'D6DEDBDD36',
        '4B856F5EB4',
        '9346BEB892',
        '8DFAD49759',
        'D89C4249B4',
        'E9297BA573',
        '3B63A79F2B',
        'F152DE3DB4',
        '37382BAC1B',
        '91C5A3F9F8',
        '6D8C7FB24D',
        '284C4F3A6A',
        '2BF73B6AB4',
        '717D3A1926',
        '537EB6DE26',
        'F9FE71B648',
        'E62E3AD6FF',
        '5E7269A614',
        'DB6B148A2D',
        '8298855EB3',
        '27AA874F4A',
        '88428AD1AE',
        '681A7B8599',
        '67BA73A452',
        '2F6AD29D95',
        'D25B68981C',
        '17F1F5D9B5',
        'B733B26D1A',
        'F1F67EBADA',
        'AEE3FCFEC1',
        '12CBD625F1',
        '614DC3F991',
        '4E4BFA4558',
        '54CA515213',
        '6F6AD1BF86',
        'B79B6D77FA',
        '4D6C83E692',
        '2444CBC6FC',
        'F72DDAA266',
        '9F2D12688E',
        '7248ECD36E',
        '5359AD183C',
        '7D317D77F5',
        '25EC2A1E93',
        '6F32CDC6CF',
        '4ED29552DC',
        'F37D13CC91',
        '371A766B85',
        '3439E6F86F',
        '3342D8419B',
        '339B6742B1',
        '1F3D5953C3',
        '232C5462E5',
        '36D64CA43C',
        '2721C114C3',
        'F8774CE1CA',
        'CAA55648E2',
        '787DA23A52',
        'ABD9A95D4D',
        '9EF617F67B',
        '7D5DCB5D9F',
        'A26CCD3213',
        'C55F953652',
        '62C5CA5146',
        '3695E86D79',
        '5E51F116E1',
        '8BAF3ACA69',
        'AE97F9A335',
        '56CAB5BDD9',
        '66AF2AC86E',
        'D4FE3CEE1B',
        '3367723154',
        '9295C796CC',
        'A918A417E8',
        '9F831393A8',
        '2C3A898DB8',
        'E67E7B1121',
        'BA6A643B7D',
        '3D9C6E3BF5',
        'EBE2C89E44',
        '2923D3832B',
        '3EE14874CD',
        '5B66566A19',
        '587966FE7F',
        '4169EDD95A',
        'EAE12187A2',
        'A438B71851',
        '2A47AEC21B',
        '82196ED8AD',
        '9BD8D57D45',
        'AA842688BE',
        '761F678F1B',
        'CAD6EE2392',
        'E9668F9E87',
        'F6BFAE16F1',
        '1FCC49F1BD',
        '9F8F76EC5C',
        'A2E4DE31DB',
        'DE273C4C7C',
        'B85E38B73E',
        '64A9A3DFFD',
        '8228138C42',
        'CD328C56A5',
        '7F832FCB73',
        '9CBA57B45B',
        'C523788994',
        'DB59E774E8',
        '7BDBD17C13',
        '8D53723426',
        'DF2373621C',
        '72B759A9B4',
        'AD2CC133E9',
        'D82CC81A5C',
        '2C9C7BC66F',
        '45F887D4BC',
        '1CB7BE55CC',
        'C3CA5F8A9D',
        '4B6C6DF49D',
        'FD58C8857F',
        'B566785A5A',
        '75692D3246',
        'D1B6F4C9C1',
        '9CB54EF8A3',
        'D781C89768',
        'CFCDB8E417',
        'B4F9D4A3FA',
        '6B47D2F61F',
        'DF61DE8564',
        '369E941772',
        '7BE1CDA6A2',
        'B465B265B2',
        '8DC34EB72D',
        'F6DA34C42A',
        'EE4876639C',
        '9228CC8A6D',
        '1E8726B487',
        'DF8FC96F62',
        'DC9872299B',
        '8F3E69DFBB',
        '96C3B3E354',
        '35E286FD3E',
        'C16A27FC6A',
        'D393494A2E',
        '41B52E9F38',
        '33E381E8BB',
        '25BBC963FD',
        'C1D55FDACC',
        'E3B1BE9A37',
        '9DE16B4DF7',
        'DF684C9A6C',
        'A9355A2B2D',
        '3E91326EBB',
        '1BBF3C84C3',
        '6884C3BDDF',
        'D15892776A',
        '86DF57649D',
        '6391D115EC',
        '8BC4629B4C',
        '593CCEFAC6',
        '56318A166A',
        'D68B8E7EB2',
        'F11EB11E43',
        'DB835A9D2D',
        'F793782CA3',
        'C268A5ED2D',
        '62C7AF5BC7',
        '5B9BA83575',
        '48FEF744AF',
        '23A879B7EB',
        'C5727924D8',
        '39B49DF571',
        'FD1E26C733',
        '81B873A938',
        '9EBACD1F3B',
        '511A597421',
        '3FF666C98F',
        'B79949464F',
        '9ADC82FAF3',
        '36299E2425',
        '46DAA7D5FF',
        'B23E8F684F',
        '583EF9B2A9',
        '4C819CAA92',
        '6331DE5B6B',
        '6ADE1D11B4',
        'DAB8BDD3FB',
        '316D5B9E85',
        '2D3E558454',
        '68E5455F9E',
        'FEAEDB568B',
        'F677947652',
        'F96A51E391',
        '4FC29A398E',
        '3FC8E376A1',
        '5CF1ED9F1D',
        'D63163765F',
        'ACAA26738F',
        '89D561B17B',
        '56EF45D23C',
        '2D1CF14E9E',
        '6877F4FBDF',
        '4B14E1BABD',
        'D5CD5ACE36',
        '621E6AEADB',
        '99985A8132',
        'B57DE66B55',
        'A5788E7CD8',
        '18A1CBC383',
        'F383569D45',
        '257664F8E1',
        '75F46CA5AD',
        'F2FE9AFA3C',
        '2E3D1FFC49',
        '9A6282B541',
        '6BD91A7E13',
        'BAD85D4C79',
        'C583FA3C45',
        '8C4BD23D13',
        'F27F939DEC',
        'EF482E5B3D',
        'F319A74311',
        '37E7983536',
        '29D83968BE',
        '98B3C6CEFD',
        '653FC613CC',
        '48C929C79A',
        '3EEFB4FCB9',
        '75CF94D439',
        '165B4BDD53',
        '1388F488C8',
        '3B8468B396',
        '7A61931847',
        '4B9E9FED41',
        '972D8F258B',
        'DF13A98A8D',
        '83CBA1FE51',
        '1469287CB6',
        '2FE5DED8A6',
        'EA56BB85AF',
        'A62BBA9AA6',
        'A84F2C127B',
        'F96CE22811',
        '53F7CF812B',
        'E6E33586A8',
        '6B29F8DC2F',
        '28ED378649',
        '7E83C82D7C',
        'A479E2E1E1',
        '8D3BB3F319',
        'A4BA9767A4',
        'CFF6AA5483',
        '25DD53BF25',
        'D56D7E21A3',
        '2551BBE777',
        '4CD49F22EA',
        '5F6497DBF4',
        '82C6E58ED2',
        'AF69B8D13B',
        '78679BC69D',
        '8FB212F3F6',
        '47EEE16818',
        '7FAC5839B4',
        '611D36C4F5',
        '84A23E1FCD',
        'DC4F688BD9',
        'B779284EBE',
        '5BEB9CC117',
        '7F482774BD',
        '1E2FCF6A68',
        'C58CEB7E4D',
        '6CC1FB821E',
        '8EE494B9FC',
        'A57E336D5D',
        '6B4672A58E',
        '1AE61F3249',
        '59ABAD8A9C',
        '69C1E989E1',
        '6A338E18B8',
        'A5B75A345B',
        '3FDDA64659',
        'F672134D88',
        'E113BA2A8D',
        '3AEF712E2F',
        'CAD39B23DA',
        '5446DAC457',
        '8594E972C9',
        '84731F1B6F',
        '5BD9958EE3',
        '9A67C2D9F2',
        '55E35F23D4',
        '128F2F67DC',
        '485E5FDD8C',
        '86BC96437C',
        'A533F41142',
        '213521419D',
        '55191426B8',
        '95B9F19153',
        '8BD7F64237',
        'BAEF26F2F3',
        '63D3524844',
        '471B32A129',
        'E926A875F8',
        '99D7979B72',
        '579CB83CD2',
        '93543D4CB8',
        '971643F1B7',
        'BF4DD39CDF',
        'EFE96B4DD7',
        '5B3FBE653C',
        '14A14296FA',
        '1972C91957',
        '5B6EE71DA8',
        'C9F815D9C1',
        'FB5FA6473C',
        '54419272C4',
        '2266E9C968',
        '2FE6E76FC4',
        '558C342A44',
        'EB653EAA82',
        '119214E67F',
        '82B34E81AA',
        '59E9E15B2F',
        'EBBA1553ED',
        '72A737EA88',
        '79BBEE6DC5',
        '1F2D346A39',
        '6F96817759',
        '172C41AD87',
        '1B7191E325',
        '2F24B615F8',
        '59D7C227E7',
        '62CAEF8F18',
        '148C12847D',
        '6FFED2CAFF',
        '4BB3AED95E',
        '8F3D8BA55E',
        '594AF37689',
        '86346ADD13',
        '1DD593866B',
        'B8397954CE',
        'B9D77B3BA7',
        'F7D1984B55',
        '55AE8732EF',
        '3D7E87ADE4',
        '46F268FD29',
        'F6437EB45E',
        'D11FB5DAC5',
        '798C9FF8D4',
        '57499D6CA7',
        'D972D2E1A8',
        'DC9B5B4294',
        '5A26E9166E',
        '51414175B9',
        'E8E7E32FC3',
        '16D9B32E89',
        '91E27D33FC',
        'B3D37A239A',
        '33D1B9F7C6',
        'CF1837C88A',
        'E8D995142D',
        'E4D42CD46F',
        '1BB9341A3B',
        '5F926FC5F5',
        '8D3A2B131F',
        'DCBAD891BC',
        '4EF4E95247',
        '152216A8DD',
        'B2738AA742',
        'FD399FE956',
        '9E75CB58E8',
        '823B9188A8',
        '6C29C63DB7',
        '41BE6C1C63',
        '3C5CECD8A9',
        'E48E1D9713',
        'E5B1297F6C',
        'FC85D115D2',
        '6F4B4E185D',
        'BE8886BD5B',
        '725FEA4A3D',
        '7FCA1692F4',
        '54B6883BFE',
        '75728614DC',
        'FF93F3D934',
        'AD256A865D',
        'FD4E17AE2E',
        'C54FF12931',
        'A9C4E7F5E7',
        '38F313A38E'
    ];

    var couponCode = document.getElementById("bro").childNodes[0];
    couponCode.nodeValue = code[Math.floor(Math.random() * code.length)]; 

</script>

{% endblock %}