{% extends 'base.html' %} {% load static %} {% block title %}StudentPeeps >>
Mnytra{% endblock %} {% block linkshead %}
<meta
  name="keywords"
  content="Myntra student discount, Myntra coupons, Myntra discount code, Mnytra Discounts & Deals"
/>

<meta
  name="description"
  content="Get extra flat 10% off on Myntra products with Studentpeeps. Shop apparel, footwear and accessories from Myntra with 10% discount on Studentpeeps. Get student discount coupons & discount codes for Myntra on Studentpeeps. Shop from Roadster, Allen Solly, Adidas, Puma, Nike, Mango, RedTape, HRX and DressBerry at a discount. Save up to Rs 500 by availing student discounts on Myntra with Studentpeeps."
/>

<link rel="stylesheet" href="{% static 'css/aftercode.css' %}" />
<script src="{% static 'js/aftercode.js' %}"></script>

<style>
  .bg-banner {
    background: rgb(255, 121, 214);
    background: linear-gradient(
      90deg,
      rgba(255, 121, 214, 1) 0%,
      rgba(226, 72, 9, 1) 44%,
      rgba(255, 170, 93, 1) 100%
    );
  }
</style>

{% endblock %} {% block body %}

<div class="bg-banner"></div>
<div class="prdouctimg">
  <img
    class="final"
    src="{% static 'img/Tiles_inner/myntra_inner.webp' %}"
    alt=""
  />
</div>
<center>
  <div class="complete">
    <div class="brandlogo">
      <img
        class="final"
        src="{% static 'img/Logos/myntra_logo.webp' %}"
        alt=""
      />
    </div>

    <div class="_all">
      <div class="wrapper">
        <div class="content">
          <h1>10% Student Discount</h1>
          <p>
            <a
              href="https://myntraapp.onelink.me/1L28/studentpeeps22"
              target="_blank"
              >at Myntra</a
            >
          </p>
        </div>
        <div class="copy">
          <p>
            Copy code and enter on the<br />
            Myntra Website
          </p>
        </div>

        <div class="showcode" >{{code}}
          <div class="copy-btn">
            <i class="fa fa-copy" onclick="copy()"></i>
          </div>
        </div>

        <div class="button d-grid gap-2 col-6 mx-auto">
          <a
            href="https://myntraapp.onelink.me/1L28/studentpeeps22"
            target="_blank"
            ><button class="btn btn-primary" type="button">
              Open Site & Use Code
            </button></a
          >
        </div>
        <hr />
      </div>
      <div class="contenttext">
        <h4>About this student discount</h4>
        <p>
          • Shop trendy apparel, footwear or accessories at a discount with
          Studentpeeps<br />
          • Use our Myntra student discount code at the checkout<br />
          • Unlock 10% off up to Rs. 500 on your favorite fashion merchandise<br />
          • Shop at discounted prices from a host of brands like Adidas, HRX,
          Puma, Roadster, Mango, and DressBerry Now!<br />
        </p>
      </div>
      <hr />
      <div class="contenttext">
        <h4>Terms & Conditions</h4>
        <p>
          • Offer is applicable only on a selected catalog.<br />
          • Offer valid only on minimum order of Rs. 999 on select styles at
          Myntra.<br />
          • Code can be used once per customer.<br />
          • It cannot be clubbed with any other coupon/voucher.<br />
          • In no case, whatsoever, can the discount amount be refunded,
          encashed or partly encashed.<br />
          • Offer is not valid at any of the alliance partner retail
          outlets/stores.<br />
          • Coupon Validity : 31st August, 2022<br />
        </p>
      </div>
    </div>
  </div>
</center>

<script>
  const code = [
    "8H6XZB5XBKQ",
    "833YYK5RRCM",
    "8NCRURKTGVJ",
    "8XNAB7MT7NQ",
    "8FM3UU2KM8V",
    "8Y2PM9QGY2Q",
    "8ND53P9AZBX",
    "8WG4VVBT54B",
    "8PMZYY99ZFK",
    "8BEBHVK938R",
    "8G89NZ7RY6E",
    "8GAFDPWYMQ2",
    "8EKYXHACPSP",
    "8NRY7H72WAA",
    "88FW9SL64PW",
    "8K7MMNGAPEU",
    "8SHGPJA2EK4",
    "8AVDGSEBP82",
    "8W3EMG47HGR",
    "8STU5JJYKR9",
    "853P2BWHL3Q",
    "86KVUC29DAD",
    "8AXYAACJL23",
    "8GG2CVXSEZF",
    "8TDEM3EDZAM",
    "8W5XYNMMVJT",
    "87YZWL5AABA",
    "85UVNXV5E4N",
    "8V45LLNTVR4",
    "8LJCS3VWXDU",
    "8A9ZGZ9Y5RC",
    "8V7DT9KKWHG",
    "8WTQYDSSWLK",
    "8EREWM59HS2",
    "8UA5ZY84A4R",
    "8PZPMV6323C",
    "8HH63PELAPW",
    "827M55SVYAY",
    "8PN3H6DC279",
    "84JCDXSQYFE",
    "873HP64WDQP",
    "89RKTZGZ7CQ",
    "8TCKZLWGTKB",
    "8ZJ9GM92KME",
    "8TVE65TW8EE",
    "8S7Q2WLEG5S",
    "8YDWVK88YAD",
    "8BGD9TW5VPX",
    "8XK5JU8KTPG",
    "88FY4VGX9BW",
    "8UJU9QHA6BE",
    "84QWX6J8P9S",
    "82FPTY3BRL9",
    "8UU7QLD7D7T",
    "8AR5UUJPWGV",
    "8TC2P8WAU4P",
    "8Z8GRPTXPG5",
    "8ATG6LDXAHH",
    "8VGNUARWJ5V",
    "8ZVUHL7MFMA",
    "8RXNQBJHYWS",
    "8U578AFFQHU",
    "85XVL6KBMLZ",
    "852HEJL4FG4",
    "84DMTJDMX77",
    "89W2RUEG9RD",
    "8TBG3UWK4F7",
    "8XKNSJPSQ2L",
    "87945UWN75T",
    "8E29WLW88CB",
    "8UEWWHWYHB7",
    "8BDW4HL8GU2",
    "88UYTZUCMPL",
    "8B59DKCXYZH",
    "8K9EM22JAJ4",
    "8HA82E4NZ37",
    "8M9H2PV6AN2",
    "8GJ4QT5TE66",
    "8ZUQZW4RWVK",
    "8H24P4GPJ8W",
    "8D3A9DXR9UJ",
    "8DAY5K3MY44",
    "8FAFEWTRPQM",
    "8GTXMUKZVXZ",
    "8DB5FZALYKD",
    "8DXZBQPUT9L",
    "87WUMQPF7JX",
    "8S6543JE5U6",
    "8XY6NR2WF26",
    "8YLW76G4YK7",
    "8WDZW2WF2EV",
    "849THADFZXF",
    "8F7W778UHHV",
    "8BJGV4U4PB3",
    "8YRHH58VHM4",
    "8HQC3S7AFS8",
    "8HRN49ELSWN",
    "8HL5Z3KZ5F7",
    "8L8JG8WJRHR",
    "8G8SKS5WNP6",
    "8JUFCDV3GY7",
    "89CBGP5M8G9",
    "8CWH249QJPX",
    "8R34T42H86G",
    "8P6XRB3CDNL",
    "8LYCUMNSNCP",
    "8869E6KY48X",
    "8584GN6RW36",
    "8B4VVBQLMGV",
    "849KJ7YTZFB",
    "856SZU57MUR",
    "8M38HTCSGUV",
    "8JN3MGUKHPA",
    "8E7FNLZFLWR",
    "8MWVA396PGR",
    "8MYVHJX2B8Q",
    "8SPCMY83KNQ",
    "8LKW6RK89W6",
    "8VPC74JJNZ7",
    "8TCCW47SJVS",
    "85JSS6WMMMK",
    "8UTB4WHS5D8",
    "85VGFLEQ6NR",
    "8ZLYAVQJUP5",
    "8WWJX52CEFL",
    "8Q58HEERUFZ",
    "8JXTKEUQMJS",
    "8JTFZPPHUXZ",
    "8USC2LTB4KW",
    "8GT4R3NMFA3",
    "8MQBZ8P7ZAE",
    "8FWQSBC7G42",
    "88G2M7VFRFL",
    "88M57GHHUX5",
    "8XJC3C542LL",
    "852E5AMLX95",
    "8G8EGBDH2JD",
    "83B6U2P7RUA",
    "85WRLFFDPZ3",
    "8BUSBW584VG",
    "8FBKSTHFRF2",
    "8YL9RUHXU6F",
    "8RS3YM78A6E",
    "8VQNQVVP7V4",
    "8SKCL8QDKBE",
    "8U8HEH4HJFN",
    "8XKTJ38MFAT",
    "8AUYQ2BWH6F",
    "88WRS5AE8LJ",
    "8TUTAJ9MUL7",
    "8454NVZCA6M",
    "8YUYNYLY9ZR",
    "84FWW3ZE2A6",
    "8GY4YJEMKNY",
    "85JHQF79SZR",
    "8EALTUD9QJF",
    "83J43J8X6NH",
    "8UDK7RXK7EH",
    "8WD4XYEZ3VP",
    "8JXSUG4AVK7",
    "88WV2EPVG2K",
    "8G7W2ARADPA",
    "8BPTVUYAHLB",
    "8WZHZ36CUS5",
    "8TR2JUW4MRA",
    "8LDA2TFG7U5",
    "887W7BJZ25Y",
    "8LCG73H8V7F",
    "8G9THKPEFJS",
    "8V3NVJ7PTJ7",
    "843A23LJ8QY",
    "86CE6EVEV8C",
    "8Y65BB79LR9",
    "836UTXDX8XH",
    "8GCA5AG3C7Z",
    "8ERZJEMLKFM",
    "8AZWAMTFLWV",
    "8HAN634SLFM",
    "8FQVRF3U6QQ",
    "8YP89MXS2FQ",
    "82KLDR7T2GC",
    "82JN9FGVEZZ",
    "8Q2PGW9Z25H",
    "8BQ4SSJH5NV",
    "8X2ZQUE2M9V",
    "8H4D6KSUERG",
    "8J8R88T3LVH",
    "8SZ48XXHD5J",
    "83SM5AE82Z7",
    "8YENEM7PXTL",
    "8BTQAFJ7CD6",
    "8SRBNE2UEYW",
    "8UWWAYARNWW",
    "84H8PY6WWJ5",
    "8N6SYWJ5WRE",
    "89L3DYR6CPL",
    "864WPXZLJ95",
    "898RRP2SR4F",
    "8DABCKNKJ7Q",
    "8T7HN2CSXBS",
    "83FFYUX7W3R",
    "86U65DQZPVG",
    "8EETQH7NV28",
    "8C9N7R88U9U",
    "83ZQLBWMJ7N",
    "8D8XV6VA8Q2",
    "8MRJJJZUFLD",
    "8E96FH8XRVH",
    "8B4JYTXKCQU",
    "8JPGLZXK3XZ",
    "86Z5T47Q85B",
    "8BN4R6GYVWY",
    "8DABA2MC9W5",
    "87N3NGJPH3A",
    "8B5S5XJVFEF",
    "8ZP59K55K6C",
    "82C5GEJ8L7L",
    "8LD4GCVRJL8",
    "8FH55NB7NEV",
    "8PJN6T4GW7C",
    "8D9ER6YSSGE",
    "8RQLCG987AD",
    "8ZK5XDG32BY",
    "8Z5H224SNCG",
    "8586DM8AQFN",
    "8XNX8QJBCCP",
    "8AXUAEM27LE",
    "8XZDX69ERBV",
    "8VJ23MPNK8Q",
    "84TBCDM4JHC",
    "8L9LNXFXAHW",
    "8REZS8MQWUJ",
    "8SXZPUSYLPA",
    "878QKWVD37L",
    "8SJMCQ9CMPJ",
    "8S79P47YC8C",
    "88YZY4ZZ7US",
    "8QAJ25L6SNF",
    "856L8ZHNAV2",
    "8W6DRYNF8HM",
    "8PTN62DKCFN",
    "8CQDKUECT8B",
    "8NJT2YUQB2V",
    "8TN42ZX35NS",
    "8X46QAAG25G",
    "8LCZAGTHSUW",
    "8QTBM8CL5FJ",
    "8C2VK9KTL6M",
    "8DMRJ56P3KH",
    "8U7H67MQR3W",
    "88EEJ5V6YZU",
    "8C886JVYG92",
    "852QPEBQ449",
    "8DRA4ZEG2X6",
    "8ELV2V2F8SZ",
    "8QUHT8TMKS9",
    "8G56ERVCJVU",
    "8R3FQ8Q28QX",
    "8D628SD68DW",
    "883BQ42GUVF",
    "8RJPJV62B8S",
    "8UC5SER8CV5",
    "88LAGJSSAY5",
    "8DCQBZ9VR4X",
    "8MFVVA5L64L",
    "8AP74PDVWLF",
    "8NEZ55QFMFS",
    "8Y9Q4TBZSW2",
    "8YSJL88ZT23",
    "83C5K9NPZDS",
    "8DCFH9UHEJF",
    "8W34QP6C9EG",
    "88BQAE6UWWL",
    "89WNBNDUYHZ",
    "8Z8UK2TZ9Y4",
    "82SJWWXT42S",
    "8MKPHXY8BDP",
    "8MPA9F6L8TW",
    "87AMAE5TUMZ",
    "8HSTX584Z4C",
    "8YZZBNWWU7Z",
    "8FRQPJC94CW",
    "84LPZA5SQKJ",
    "83LQSM5B3MG",
    "8JWZBX2NSJ3",
    "85KNDWMNUWC",
    "8BU4K6DTEGK",
    "8EE3YUPD538",
    "8Z37QGKP6XS",
    "8AFLC4ZDCLM",
    "8TFWUZPX2AP",
    "89TV3RSFPCV",
    "8PQJTENKEBC",
    "8F945K4ADEY",
    "8H7QVS89NVG",
    "8E2KVWV3MMZ",
    "8HAYTUMX6SZ",
    "8N7CP593C7K",
    "8EJ4EVHFTBU",
    "8CHPVNKTERW",
    "8JNVTTUBMXB",
    "8ENBXYU4FGH",
    "8AART8Y2MND",
    "8KLXZVD8KL2",
    "8FXX63XP6XW",
    "8CQBK7KAZVG",
    "8SMUDC2XTZ4",
    "8BKLNRTXRVB",
    "8TPKL5A5CTK",
    "8TTNZ3E7Y6Y",
    "8SHMFHNLYUC",
    "8TRTV3775VS",
    "8KM6MAEWPF4",
    "8HHYWGCPH3V",
    "8H524GLWNP4",
    "8YJPQGKNXGR",
    "8JDGUJ5RUFG",
    "8JUZUKYN755",
    "87MU6DH44NT",
    "8SQZ382EWU4",
    "8F3TA9FN46H",
    "82B8DSUYADZ",
    "879GCBHQ6HV",
    "8Q4SWM3MP5C",
    "8L62LSV3M8Y",
    "88YKT6CFDUN",
    "83GKFMXM3DW",
    "8YSNGKZFZ5N",
    "8TUWLXSGVDM",
    "86D2K6H72S5",
    "85Q55SPBVYA",
    "8UNJNW5PSDQ",
    "83SZ9CXCRPL",
    "8ZHQSRTKF8T",
    "8YE53ZBNBAX",
    "8BS9WQFDDF7",
    "86YY2MEPDCT",
    "8EMYAN4YQSH",
    "8LVZT5J62AN",
    "8HX35B6E9VZ",
    "8JDRSPJTAQG",
    "84T3QW5TBWV",
    "8W58AJBLY2W",
    "8M9AV3FHHPK",
    "8QLVZWDW5V4",
    "8AJD2SF79UK",
    "8DP5ZR5C4JE",
    "8T726PQR8EQ",
    "8WYVXS4XPGG",
    "8LDAS3HX4PQ",
    "8Z9QJKFW37A",
    "8AWLHKUVYAU",
    "8NEVQPATB42",
    "85MJGR4NF97",
    "8GSC4N9BZZS",
    "8WVKMR5DYGD",
    "8GT67ZZA58N",
    "8KNLURCWJL5",
    "8UB3QNUMJ75",
    "84DRRXWT7NY",
    "8JWY38K3RAR",
    "8954CEKDCD9",
    "8TCSZWAFYB6",
    "85PGNBA64P6",
    "8AX3HYLAX6N",
    "8RRVXU62E2D",
    "8T3KN4ZL6PQ",
    "83W23DEZQA2",
    "8696P6UHDDC",
    "8KZLSFGDT6T",
    "8EFX5ZHWVHL",
    "8RF6TVBWQPQ",
    "8MLYDYMSVFY",
    "89G9H3KF9FM",
    "8NWVCNYJBAS",
    "8ZHPFKFEE8X",
    "88F7ETG3JQV",
    "8685T69B7ST",
    "8WFT8Q28LQJ",
    "8A9F8ZW5NNK",
    "8RAG8SR8V78",
    "8LPY59N5NHZ",
    "8Y8H7SHVFWD",
    "8F84P3MJAV7",
    "8BUYKDF2FSR",
    "8BVUCTD2RN6",
    "8EPV7LKDZMJ",
    "8Q8FF4FCA6U",
    "8DRUGDH66SE",
    "8YEJHR7PJME",
    "8ZWYYD48R45",
    "8SU8T7HEDY4",
    "8S3MNU8Z883",
    "8WUUGBE8EFZ",
    "8WTGW62CHM7",
    "8TCRHBHPD2W",
    "8KESQU2MKHQ",
    "8DES8QADS8A",
    "8SF95HLEQDP",
    "8YJ7A4HNPWP",
    "8GZF8DA6HFL",
    "87NCZXRJMSF",
    "87SB4GK9SFN",
    "84LRQ44Q7F7",
    "8TQ23YYEWCU",
    "8RSCFNWLT2Y",
    "8QBM46TZGTN",
    "8YXGKBA7DQX",
    "8AWLAJFFBGE",
    "8BPQ2J65NHT",
    "825632WSXJG",
    "8GUM9LXLM6U",
    "8FULBDU6NL3",
    "8MBS9A78N2A",
    "8W8EKEE9FLB",
    "85PWH8H5658",
    "88HQJPMRBJS",
    "8CSRBM7J7DP",
    "8UC9273M7E9",
    "822QBHNSFEE",
    "8TLQEL949YQ",
    "8D997LXJ8ZC",
    "8VCP6J8MLBY",
    "827T2M5JFN9",
    "85SCLYQR9CJ",
    "8LUHVMXCG2L",
    "8JW8FYL3YEG",
    "8JLFCTHM3LR",
    "884NZQKS8UP",
    "8L6SNTRW9KL",
    "8N9YDTQCNKH",
    "888922J3V39",
    "8WCQAMDXASA",
    "87PMTG2WRK2",
    "854GNTTA7LU",
    "8Q9VHEVH3LQ",
    "83VQ7MHFYV2",
    "8BLX7CQESHN",
    "8HCAYA7Y6XX",
    "8ACB68H8YTX",
    "862X4NTDVSS",
    "8NUXGDLTGJC",
    "8SKKHXXCDHY",
    "8V34T9LFPKJ",
    "8RDR9SCQS9Q",
    "845YE69VAR5",
    "8TX2SZM5HVV",
    "8HUL5VLUM5S",
    "8SBCTCRN222",
    "8QTXWJLKJQB",
    "87HW22K7GEP",
    "8QPY56L8EQD",
    "8SQLA8U9AQH",
    "8N72SFCUYN7",
    "8AB6BJ7FQNF",
    "8K6ZB3QJA3B",
    "8W4MDTP8ZR3",
    "8DQEW74QHZZ",
    "886K53YXBKS",
    "8N8F7PXQXEU",
    "848WCUMBSFU",
    "8MSRLJHC8C7",
    "8UHR8P96FJX",
    "8EK7MPF58N5",
    "8BM35MGX4WG",
    "8B5SLC388K5",
    "8PNMSFDCDSX",
    "8TLKAH5HQRC",
    "8VS8S4AAX63",
    "8YK3NR3MUDJ",
    "8KURNVKQZNN",
    "86Y7EEUA5AL",
    "8JCDSZ6TH95",
    "85PE8AL82ZP",
    "8GW367KQH78",
    "8RRYCL4WN42",
    "8FL8E9PRLHP",
    "82WPPXK5ZD3",
    "8LMU83RRPF5",
    "8YN5Y98U4KA",
    "8TXV53RJ7XK",
    "85E5XYJ3DXM",
    "8UGD585UQBG",
    "8MM5Y2AMPXF",
    "89XL5HHQ4WL",
    "8A7Z8NV8VZN",
    "8FUW2CDBEY7",
    "8NMM8PK3355",
    "8TSAHV5YUUY",
    "8YGSQD9XRBD",
    "8BE7YSU64ET",
    "85Y5QD74BZ5",
    "8ZUL8QYV66K",
    "8CEJS69C5L9",
    "8K9SQ4ZW7RW",
    "8PLV6NKEU6Z",
    "8SLFMFLAB89",
    "8DXHK56L9RM",
    "826A8EFZW7M",
    "8JXTSUCT6Z4",
    "8NCWYLHYM7D",
    "8ANXSDDFQSG",
    "8YA9FXMZG8E",
    "8HQ8LTXYM76",
    "863V3JVR68K",
    "8N36UV2VY8E",
    "8RV3EDZZ3B7",
    "887RCTSN5A7",
    "88DTP6JGFYV",
    "8RZFXRG9W4P",
    "8GPYJND3VBB",
    "8AFUFLDJJR3",
    "8RDWQWBC9PQ",
    "8RZ4G4JTNJC",
    "8EQ5TBJ3ZKQ",
    "8YVR6AZ652M",
    "8KPQBUNG64Y",
    "86PKV6M26JA",
    "8FRP7D9BCK2",
    "856EYMBNCRM",
    "8CDPBCWGAWC",
    "8T95TJRY6DV",
    "8V79SZ8HPLD",
    "8QXXAW3UK49",
    "8VUUA335WRG",
    "8LCHVUHUBW4",
    "875Z9AJMXFD",
    "88C7CLHELA4",
    "8JRTKWFL7CT",
    "86Z5RKAH3X5",
    "8658NTYKDXR",
    "8DLMVJDNP4W",
    "8TNTA6EFLE5",
    "89HPWTK37EK",
    "83FAUHZZE5U",
    "8BEZQX87DZH",
    "8YLD4MGW6MZ",
    "88LSD3J2Y5E",
    "8WQKACQHHW4",
    "8VSGTXNAZ3B",
    "82PGJGE5QSH",
    "8VZXZF9UG32",
    "8T8BDBYF5GK",
    "8K5DS4SDGP7",
    "8HCF92FRMC8",
    "8VREBK3SZ6F",
    "8QK6BTFD7RA",
    "8J734CG7K3X",
    "8HVNYS3GEDJ",
    "8ZV4GAL4MGM",
    "8VQ4SN4BB4B",
    "8QRRKKEQ77J",
    "8NJCNDG7JXM",
    "8EBMGL358HN",
    "82964VJ27LA",
    "8Y9R2TSV78V",
    "8NGGKUG43BP",
    "8MRQMWXNG7T",
    "8Y8X9JBV5XR",
    "8NQNEAKR2HP",
    "883DE9DJ6VT",
    "8EPATUSU42G",
    "8T9RHZ5GSPW",
    "8B5DXVHLL53",
    "8B6SSLPHXZ3",
    "8HXKCATYHVV",
    "83A7ZBMFRZ4",
    "8Z5X4QMBSQV",
    "85AEG5CWE9N",
    "8VKMD2U995D",
    "8ZBDT98YY34",
    "85GUWYWSBDQ",
    "87GDV724L5S",
    "87SAQ6GK2BA",
    "8Q7XBFYNRN8",
    "87Y3G6WBWP8",
    "8QGXMBGYV4Z",
    "8C92ZVSRUQ4",
    "88USFUS4VXV",
    "8UD9PDY2J66",
    "874TZG3T8VD",
    "8TZJWAYNW8F",
    "8PR3CZJVDN9",
    "8UFBPRBS7MV",
    "8VC82LA7NWC",
    "8U8E2FZJMHZ",
    "8NXDB4SR2N5",
    "8SR9CT72HXU",
    "8P9ASQQBUAX",
    "8PR8TENZQMD",
    "82M8RPNURXP",
    "8VXXYWLW924",
    "8UBA7VFQ4WH",
    "8VY7J4LLKQ9",
    "8XFM5G9A4GQ",
    "8UHTAT6HGGY",
    "86PXMZCCBXW",
    "8YUF6TQBTSK",
    "82SD8GFU67B",
    "8858ZTPNSJX",
    "8ZMBP39V8U4",
    "8683P5JFADM",
    "83CGT8SSWDJ",
    "8DD6G8QU7SM",
    "8NQSK3NS5D2",
    "8RSFVAB2QZY",
    "8QNA3SX7U7G",
    "84XDR5V3DDD",
    "8ALLPRXCBD6",
    "8NWUURVUQV5",
    "8DS4HM3BVGK",
    "8K5PKQPFEPQ",
    "8E6SQNQ54M4",
    "8RF554NWP7C",
    "8EDM8U7UFXV",
    "8YTXJ3RGMGC",
    "8WFAABY7DF2",
    "8NXP4VSEPYQ",
    "84973QH7PQX",
    "8KRT3BY64EN",
    "8T9EQWPRFKV",
    "8Z97JBHF9FY",
    "84E93CQ5VEM",
    "86HNCXX4XSY",
    "85D6D6AXA95",
    "82GZ3K3Y6XP",
    "8EPQY5VEPRR",
    "8KFUSY4QWCD",
    "82YENAXRHRK",
    "8DYER6B8VZV",
    "8D9BHZNL25X",
    "8BEZ7JGG6P4",
    "83KBD64HS2R",
    "8FUN5AWFADL",
    "84SSKU739M5",
    "8QYF38LYYJB",
    "8GGL7MWJFNK",
    "8Q9YHU27FKJ",
    "8GRCW2TVVFA",
    "85XBU84D6AH",
    "8TTV4JCQMJJ",
    "8Z993U274LN",
    "8KEZGVQL2DL",
    "8LUATEVWZ8L",
    "8JB255SR5VN",
    "8M7HEBTNRSA",
    "882KFVXPZDM",
    "8Z9KB97NMSC",
    "89V9CDK4EDR",
    "8T54FNKFUCK",
    "84EHXBQYV4E",
    "8AKWPESMSKF",
    "8TC7CAWCTMA",
    "8WJ3PRHKF83",
    "8QZ5TMP9Y9M",
    "8722EYX32VD",
    "8RYGQG75EE6",
    "8VFER9LHEB3",
    "8F4F9G6SX3E",
    "8ZJKRWERBBV",
    "8CVQBR2597M",
    "8SSP6GXTWPS",
    "89THS8BKTEB",
    "8WYWJRY7QPD",
    "8KHA9WP6BK4",
    "8KJJ8VHH3L8",
    "82HH9Z45X8K",
    "8KF7P7SHULJ",
    "87L4RG43JZU",
    "89WU5RYUA7L",
    "8ACAGV9GGMA",
    "8W5DAGFM4FQ",
    "8CKW88FK8G2",
    "8W673MXJB89",
    "8U3ACCRFLW7",
    "8MWUVEE2FN6",
    "8AF9FMK6WC5",
    "8DB2U4A4FRZ",
    "8BA9C5QC8UE",
    "82WGHV9HP5H",
    "8B6LJHDXLTU",
    "8DKV58RZVXR",
    "8Q9Y6PJEL87",
    "8PTF5VKCBDB",
    "8V5CG9TGHCK",
    "8HCCPFD25TD",
    "83JFBVDKZUB",
    "8C554PTH9MW",
    "84HTRGZ5AL6",
    "8YDRGBMLJSX",
    "8BF29FBAQFX",
    "8JKDQVAWTYV",
    "8U4VY6AAZJD",
    "85AFP8MKFA4",
    "8VXTR82KA2V",
    "8E7LFCFFLWP",
    "8HJJ5YP784S",
    "8QDDBDLLX9X",
    "8Q6FE7XHX7J",
    "84TTZEMJ9S2",
    "8FK89VAEPY4",
    "89E64JBJDW6",
    "85V3THRLY26",
    "8FJ8CPPQG58",
    "84FVUEAP328",
    "8C4E9KMUPMY",
    "8WCUNJRX69R",
    "8PLY8KJK749",
    "846MMHVCBLV",
    "8BMLLQXFPU7",
    "8EN2ZU5C3HS",
    "887HPBN7S8D",
    "8WE98FKE6NA",
    "8H3LN4BD2NK",
    "8Y24236VQK9",
    "8PJ59GBECWD",
    "87QGE36KRTC",
    "87J8LG7753T",
    "8LTKKBRZRY4",
    "8ED7FDJAS3J",
    "8VJ537JVPH5",
    "8D8KWQ7GUJ3",
    "8R73KU2TUA7",
    "8QPPW9WG5ZM",
    "8U43DJR2TXM",
    "88JCV6QS27R",
    "8QGUQXV9RLL",
    "8H7CWCFQNXV",
    "85EKCJATCU7",
    "84WFQTTEX4R",
    "86SSE2VHDXG",
    "8J6BUZDLCHQ",
    "8KMMBGYTTNQ",
    "8ZMVJB26TQT",
    "8JWAZXND7RR",
    "8JQ9JE68KL6",
    "8425VVHJDWJ",
    "8UWFFRPUW43",
    "8TB5DFV9G3L",
    "8JC9UC5SY8Q",
    "8W2SPTH7YGK",
    "882SXVZ323N",
    "8ZCGBBKX4PS",
    "8SYVYEE7WBS",
    "8G59QP7GP3V",
    "8GZQQ24FDKS",
    "8JK5F4TVXJS",
    "8R89X3DENLU",
    "8LYXB93GRGX",
    "878FYJYNB8J",
    "8WJA6FTHRM8",
    "8XH7CRVEB2C",
    "8DF9T62EU6X",
    "8F3PRUTMHPB",
    "8M6D466HNR3",
    "8DJG7WLHXQ6",
    "8E8L9WKZR6E",
    "8AT9HTAK623",
    "8WQQ98PLN8F",
    "8CEUSAWX52W",
    "8RNVYYCAGQW",
    "8QBDYRW3GRY",
    "84KMZDHSMEK",
    "8DJEGEVGNAR",
    "8M9S4PYYT3Q",
    "82MW65L28FH",
    "8DGYR7FYJ8V",
    "8GYKN7DLMYN",
    "8GJ42RRJYLQ",
    "8L7DR2D4RRR",
    "8K5YK7N9G38",
    "8NZD5T5H23M",
    "85VKNTGTWW3",
    "8BWUZSLNNFM",
    "8DZST68FKY5",
    "8F7XEMB84J6",
    "8KNYUEGDYRA",
    "8XCM3YED5JQ",
    "8QJ5MSMGFYZ",
    "8YGDBKHWVSP",
    "8TTCF9EN3E5",
    "8RALNXK2GQA",
    "84ZBWT96BUC",
    "8CJQGSNQ52K",
    "8FKTTMZAFNR",
    "8A3DNWJFXMC",
    "8EWRGFJ9KPR",
    "8BKE5QSDS8V",
    "8Q6VKQCUEGH",
    "8KHGCWDFCTW",
    "8WDKNV3W84Y",
    "8MXBZY9D6M4",
    "8ES7ZDL7TGP",
    "8SKYT9USBLC",
    "8M77U68FNNF",
    "88JAQECX9JP",
    "83LUSFD7R2U",
    "8EPWFKDF4M5",
    "8K58XLTM8YG",
    "8F5LV54MKSC",
    "84MQWYDUPTT",
    "87R8JBUCDN6",
    "8ELZYGVT42D",
    "88BY72QS6G9",
    "8D98APFY7JD",
    "8LSVY686JWG",
    "82JGXDPEQXT",
    "8PZJKAHF4ME",
    "8PYZ9SZ6VT8",
    "8GYEFMB3FM9",
    "83PDSJ84AWQ",
    "82L6NGLDPQ8",
    "8SJ86H2XYFW",
    "8M3UUFMQLTR",
    "8H9M8SQHLVK",
    "86M4LGEGPVY",
    "88B8M3MM8RU",
    "8FAXEAEGN8D",
    "8KGRZK98USY",
    "8GJSPP2JZBN",
    "8RVT57XCXBY",
    "83N99K62FS7",
    "8BA9PW23JZ6",
    "8LRRPU4FZ5Z",
    "87TYCP5SCB8",
    "862N3RRZ729",
    "8GG9AFXX85C",
    "8HEC2HY2WAV",
    "8MDPB8QKFTA",
    "89GLJ8WF8NL",
    "86FLUTLMQGZ",
    "8ZJ6HPT3BST",
    "8WC99CNXMB2",
    "88PGTFZ7DZ6",
    "88TMUPL57JU",
    "8LBE3MAFU2S",
    "85HVVMQCS6H",
    "86S829YZBF3",
    "8YQ6B52UAFC",
    "8ZR3HNB9CK9",
    "8DPDB52QJWD",
    "83A6FLGPG9G",
    "8TNRWV58G29",
    "8RXVFM7UDAL",
    "8UJ5Z9VT6F2",
    "8F5UX9WF7VH",
    "8FF7UK369VS",
    "8DBHXPBQXP5",
    "8TSXA3T8T8R",
    "83DGC34Q6S2",
    "8MCNYX5UDT9",
    "88V2ARGKJFE",
    "8AZTCAQGUJ9",
    "8NAVTBZUX23",
    "8MB27USB268",
    "8TJKN7QQRVT",
    "896YZCGT7NH",
    "87PUWW8F2W5",
    "8BVFV28YTJW",
    "8MVEUWBDTGW",
    "8U8BFWJK2BK",
    "8VT98DWYD2T",
    "8JSNSRYA5AW",
    "8C4FHB449GU",
    "83M95AP942R",
    "8NDMCYTMDXW",
    "876DAV2FBRL",
    "8EXPTW5QS9U",
    "8EE3XKNGGTY",
    "8HVSBY49BPA",
    "8GP8Y6ZQ6H5",
    "85RU9B79YSB",
    "8JABCUV9QBT",
    "85HHL962T5V",
    "8JN5QFJPG9P",
    "8NAHNPANC6H",
    "8XW8VY5J22K",
    "8ZE9HHYGGM7",
    "85XJMMKQUGB",
    "8VLQ5W4DTRT",
    "8A7YDJ2QF3U",
    "84BU54Q6YF6",
    "8T26XLPFG9N",
    "8GY8NS5XTQX",
    "88V8V5XX93G",
    "8RZMUXS6MB2",
    "8HJJPU5BCCC",
    "8DQYVSFKXFT",
    "84UJYG8RZAS",
    "87RMDVEXHZH",
    "83VZXPQ9LR3",
    "8RDPQK9F3C5",
    "8QNPRF7DAA8",
    "8C37MEZHJQY",
    "8P87R633E3Z",
    "8XS5VTSGVLN",
    "8USM52XYBRE",
    "89D7WRMVKLM",
    "8DFCTSHCHM3",
    "8DVMJ8MLLL5",
    "8RAM4YXEV8R",
    "88LBPPQFGHH",
    "8DNNJJUHP5F",
    "85J96TYEK23",
    "83ZJJUVNTDL",
    "855HYAQSEFF",
    "8D6FCZ8JUWY",
    "8C3CAMS6V8H",
    "8M99H3U9D8V",
    "8P89LR74WZN",
    "8NKZ82NERVE",
    "8VQBABVPRZ8",
    "8XLXAVLXHZU",
    "8BSMDN5KCZE",
    "8WGFEKQ3U5E",
    "8WDC6SQ2RS5",
    "8R2US7KBPTH",
    "8BBEGN4LPVY",
    "84XP9TRAZ36",
    "8UBPGY8YDCF",
    "8SBK7BFHC7M",
    "8FR6JUMYDUM",
    "8JM4LGY2RSP",
    "8KSV6W5CGK2",
    "8296XNF4H2Z",
    "8T8Z2DEJGZP",
    "8XF8NXRMVVM",
    "834CB8GU7SB",
    "8SXVR9R3CFH",
    "8BXFUJ8AUEB",
    "868D7GN6TFQ",
    "8AEZ49UGXH4",
    "8UFC4EYTKEN",
    "8Z2EMQF47C6",
    "8BADTNTKDDZ",
    "8VGRK2YAT5F",
    "8M5CRLFAWAY",
    "8F72L9JY97B",
    "8BZLFRJCFEN",
    "8R3M92RYTB3",
    "8RKFFMV9YNP",
    "8VQFJQZ7ZAA",
    "8M33K4MH7ES",
    "8BV3Z56ZBZP",
    "8G9N76US9E5",
    "8AVZ2ZTYK6T",
    "8DRXF5Y5CAD",
    "8UB4GBKLEL9",
    "8NXFK3UV3HA",
    "8TBGQ7SCSYP",
    "8BX2TVXC8KD",
    "8RHSUETMYER",
    "8RWGVZQVXVA",
    "8G3YZSND8EB",
    "88JC4VA4WZP",
    "8VN7U8MRLNA",
    "8KSGMJ38L7Q",
    "88NDWWRPGHM",
    "8UJ39NEY898",
    "8MLG9KMQFBN",
    "8H4VBWKZX96",
    "8PLUPNQBP84",
    "84W3GKCJG7H",
    "8SM7NUG5CAF",
    "8MZF524R3QF",
    "8T6ASGWAPED",
    "8V7RG2VB4KM",
    "8D9PDH45CMF",
    "8PS5X5BDGW4",
    "8TAW2SL5FZV",
    "87RP4UC3HPW",
    "87HUN6VCHMP",
    "88Y9VDXDDQS",
    "8TZ964LB6FY",
    "8AKTN6BAMN9",
    "8JT5PY8597D",
    "8YYGPVTJ6VC",
    "8J28CWSN2KU",
    "8XGRK76X85E",
    "8V9KXA8DYY8",
    "88987DUDSMY",
    "85J3YGQ4X9Y",
    "88WG2KCM6CP",
    "88XM4BTVPNP",
    "8HXYZF4HLJ8",
    "8PSJT6KGB7A",
    "89YEAYZ4VLJ",
    "8TU9E4JZBFV",
    "868LW93KBNP",
    "8PBQ8DUCB5Z",
    "8FSETHA8YMM",
    "8LQPDXKXMB6",
    "8RXL8UN2PP2",
    "8D92TTT6WCT",
    "8V2CP8YBKWE",
    "8C2NJ3FBBWG",
    "8RU99T738Y9",
    "89NGHUKA589",
    "8JNJPPMWCXQ",
    "8SWYBE6NQQK",
  ];

  var couponCode = document.getElementById("bro").childNodes[0];
  couponCode.nodeValue = code[Math.floor(Math.random() * code.length)];
</script>

{% endblock %}
