{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeep >> UnluClass{% endblock %}

{% block linkshead %}

<link rel="stylesheet" href="{% static 'css/aftercode.css' %}">
<script src="{% static 'js/aftercode.js' %}"></script>

<style>
    .bg-banner {
        background: rgb(246,46,139);
        background: radial-gradient(circle, rgba(246,46,139,1) 31%, rgba(242,118,87,1) 88%);
    }
</style>

{% endblock %}

{% block body %}

<div class="bg-banner">
</div>
<div class="prdouctimg">
    <img class="final" src="{% static 'images/unlubrand_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img  id="center-img" class="final" src="{% static 'images/unlulogo.png' %}" alt="">
        </div>

        <div class="_all">
        <div class="wrapper">
            <div class="content">
                <h1>20% Student Discount</h1>
                <p><a href="https://cutt.ly/TRYJNQX" target="_blank">at UnluShoutout</a></p>
            </div>
            <div class="copy">
                <p>Copy code and enter on the<br>
                    UnluShoutout Website</p>
            </div>

            <div class="showcode" id="bro" onclick="copyElementText(this.id)"> code... <div
                        class="copy-btn"> <i class="fa fa-copy" onclick="copy()"></i></div>
                </div>
            <div class="button d-grid gap-2 col-6 mx-auto">
                <a href="https://cutt.ly/TRYJNQX" target="_blank"><button class="btn btn-primary" type="button">Open
                        Site & Use Code</button></a>
            </div>
            <hr>
            </div>
            <div class="contenttext">
                <h4>About this student discount</h4>
                <p>• Request celebrity video at a discount with Studentpeeps. <br>
                   • Use our UnluShoutout student discount code at the checkout. <br>
                   • Unlock 20% off on your favorite celebrity’s video booking. <br>
                   • Gift a celebrity wish to your loved ones, and make every moment special, Now!                                                 
                </p>
            </div>
            <hr>
            <div class="contenttext">
                <h4>Terms & Conditions</h4>
                <p>• It is applicable on every celebrity video shout/out at Unlu.io.<br>
                   • It cannot be clubbed with any other coupon/voucher. <br>
                   • Requests placed using these codes cannot be modified                               
                </p>
            </div>
        </div>
    </div>
</center>

<script>
    const code = [
        'E42C15657C',
        '7E83385A2C',
        '2DBD7627BA',
        'C1CB5D8E82',
        'D9B69C2E3E',
        '3467649F4C',
        'B3484563A4',
        '5E8D61D83F',
        'BAC1C38638',
        '1B96C4D5A5',
        'E6E5156E32',
        '4F44EACF72',
        '63F28EDBC2',
        'F622D8E8F8',
        '7B1DC328D8',
        'B9BA46EA1A',
        '5979212F69',
        '93C8F63A47',
        'CDBAEC42DF',
        '576BBCC7D7',
        '9E1685CA67',
        '89623972EF',
        'A9FC177CBC',
        'EDADD959DC',
        'DA2B6F4B3F',
        'CA4B679E84',
        '6514E68ABB',
        'E814BE179B',
        '41AC1EA7A4',
        '8E454BB4FF',
        '343FAE999D',
        'ECCBE72419',
        '8C8D592342',
        'FB2653792B',
        '5F929B3317',
        'E327723C45',
        '4A9D96A987',
        'B51D432AEC',
        'F4BDCA3974',
        '55B224A855',
        'D7CD4FD769',
        'E11BA2EF29',
        '91A8B691B7',
        '2BC8342577',
        'BF48D9326D',
        'CDEE86A746',
        '31674C486F',
        'C37117ADF5',
        '4E14F5F619',
        'EE3B6A4B6B',
        '4EAE34E62F',
        'BDFE4EDD8A',
        'E6ED82C418',
        '3A4497FE3B',
        'FF14FC7DCF',
        '7B16DC8D14',
        'A6525227F4',
        '325136A63A',
        '2BF53FDEE5',
        'DF64561F77',
        '7E11E64567',
        '9F8FC67EB7',
        'AB8EF964A7',
        'AF75911356',
        'F3EF4436BC',
        '161DA53DCB',
        'F97FBF177B',
        '88BF53A6F7',
        '9C12C8645F',
        '6C2BA9DBB2',
        '2F9D76E77F',
        '83978A29FD',
        '9D64ABC2DD',
        '739EA51C59',
        '74F8E8BC71',
        '8DE879D242',
        '6E75B322A5',
        '2EF62366CF',
        '85343FFFFB',
        'BF68D639C3',
        '8FCFF4F2FC',
        '4B6D389D5E',
        'A8AB83479D',
        '6C38E96688',
        'FF59C6676E',
        '42739E4684',
        '262D5E4A59',
        'CCAF6BC9BD',
        'EBDC684B26',
        '18B12ABB4F',
        'BC12DC1F27',
        '5CAF4A2ED9',
        'DF85A74922',
        '96729B1D97',
        '86C2A16D56',
        'B2EE774C51',
        '1FEDBF39A3',
        'DACE73F258',
        'AD55DB263E',
        'E866CA85EB',
        '377833844C',
        '2E61FCB47E',
        'DA694D19EB',
        'F8AEEB7FFA',
        '3C957EFEE7',
        'EC9D52ACE5',
        'C9E5583E8E',
        '4124EEC69D',
        'EA67D5C9F8',
        '2C468965DB',
        '7754E6C411',
        '18246DA88C',
        'C16918C729',
        '4A73581C17',
        '59147634F8',
        '6F2D5D9FEE',
        'E691DA9EA7',
        'C6F457F278',
        '869C92A1A1',
        '8595BF634A',
        '9D66EAE238',
        '8FD8E868FB',
        '666EB75C1B',
        'DC95B834CB',
        '3D87FD249C',
        'DA1E4CEFFF',
        'A977EDC763',
        '2D13987CFB',
        '5EE264E811',
        '532A3CAD5E',
        '53B829A77E',
        '85B3988D61',
        '71E2E6B2BE',
        '8CBF871611',
        '3E7ECA551E',
        'C1A88F9BBC',
        '21A2DD88CF',
        'EDD44BB4ED',
        '6241DFDDBA',
        'DAFAE2D3AD',
        'ABA98817C7',
        'B3C25DCE9D',
        '1B45E692D2',
        'E8BE44AAFA',
        'FBB7A4D7B2',
        'A8359BD64F',
        'B851F9CF46',
        '29FCF4791A',
        '322D8C3EDD',
        'B9E22B33DB',
        '1AC8F578E7',
        '44233BD1C6',
        'EA8AC4D362',
        'B593F2BE5F',
        'CBB6ED671A',
        'EC37C6B28F',
        '9F49258868',
        'A3A179F2D5',
        '97EF14BA7A',
        '8F144577B6',
        'C77D2E1858',
        'B934DB255A',
        '8513CCBE56',
        '4779ED9B4A',
        'E992A927F7',
        '1C2A73A1DF',
        'B16C9F573E',
        '4D4FF727EC',
        'AB41A7CCC9',
        'B85FCD75E7',
        '7F5B371A97',
        '616DBD4228',
        '312AFBE539',
        '6DC48F1945',
        '49E96BAD1C',
        'A5E4B675E6',
        '18682B7422',
        '743AB19952',
        '323ABBEB66',
        '894E225B5E',
        'D9ECE2DBD4',
        'CE1791428C',
        '67B2CC2C48',
        'D33D559748',
        '5339A61C3D',
        '3EEB346917',
        'E8F3FAFE5E',
        '6A8C5C2CA1',
        '996491849F',
        '572FA4213F',
        '9DEDADC74B',
        '5327B68737',
        'E26C447CEC',
        'A594EC3BE9',
        '7EE5D42378',
        '35623A1CBA',
        'AD4B1A82F4',
        'CA132997CA',
        '7838E6C3AC',
        '6BA4772EAD',
        '1D2F324A5A',
        'DBF33F6F23',
        '8FE28D583B',
        '4573FF5168',
        '8C18ACDBCA',
        '948BAD3EE5',
        '1C86937AF6',
        '6BC4D98DBA',
        'BBC5A53A68',
        'CD2DCFD697',
        'C387AAD322',
        '5D28525237',
        '65766C8347',
        '417498A251',
        '8AEB8CDF3F',
        'F4C9B49A2E',
        '13ED282C68',
        '69F6E3531B',
        '59632169B6',
        '2AD1EB8994',
        '547A9FFF5C',
        '68A6E58721',
        '55D91F41D4',
        '68C2871419',
        '6DA2C94F76',
        '713E96BBA3',
        'C6CD91A57B',
        '99D3A4F11E',
        '838E5D281A',
        '9BFE9547EB',
        '5AD5BEC19D',
        '35CBCCA68A',
        'D31E4B78B2',
        '5BB12E1E3F',
        '3677A85448',
        'D5979BB3B8',
        'F181FE6836',
        '6FF76AA364',
        'DCE3C6656D',
        'C4872E2D5D',
        '57FE575C5C',
        'AA6FA9C8CB',
        '8868AD73BD',
        '9FA2319612',
        '514CB7FF79',
        '5237344CAE',
        '5564DB6494',
        '58E755163D',
        '265ACE9CCB',
        '85C4FDA2EF',
        '4466432831',
        '45555E9327',
        '9B572C38C5',
        'C4C57A5CD5',
        'D1EFA1BC51',
        'A4294FC2CB',
        '8659CE37BF',
        '583476899F',
        '36FF6945D9',
        '9E3DD9456A',
        '2B2B618951',
        'DBF3B98E6B',
        '2CC86391FD',
        'C165CE55A8',
        '6F8FA9FD5D',
        '34592CCF6A',
        'D77B94998B',
        'C8F921C2B7',
        'D44718B85A',
        'B841BA18C3',
        '8AE4F42228',
        'A3B31791BC',
        '3F8E753F16',
        '7A8818982F',
        '59C8883F14',
        'C46469EAF1',
        '68FC6E3ECA',
        '46D9D7CA1C',
        '68AEC5EB9D',
        '17F4CEA9B2',
        '18E9876412',
        '6138363E3B',
        '728A5BC6A3',
        'AF9224F241',
        '599234DAFD',
        '714529471A',
        '4326D4AF73',
        '5B49B94165',
        'E642DC6AC1',
        'B9F4B93998',
        '4DB2ED2942',
        '61A85AAA46',
        '2CAADDDB84',
        '5CEAB6C718',
        '784169AAB9',
        '1E58E3CB4D',
        '67DC191CCD',
        '26E8BD3B6E',
        'EFDACA4B57',
        '63963EA9A8',
        '7A85445765',
        'BF123CDCC7',
        '4C5A5217B5',
        '727A3B6581',
        'DC7E9AB79C',
        'E663457B5C',
        'E7C6258CB8',
        'C7D41E17CE',
        '8B66266173',
        '533EC64F7A',
        'FE586FE576',
        '715DCD2643',
        '718DDF274C',
        '7634A892AE',
        '858AAAE953',
        '6CEF595755',
        'BEDA39F5CB',
        '97C3CEA71A',
        '957F57D649',
        '331E1294D4',
        '13C4318D9C',
        'E1D6C79111',
        'B26C1FB3E7',
        '699EC821AF',
        'C134639E68',
        '316DF2BE53',
        'E3B11BDEED',
        'B68CF97353',
        '3B9D91B68C',
        'AE4E6E525A',
        'C216FF7F3C',
        '3A678DCE96',
        '32AF9ECEF4',
        'F842FC22A6',
        'D94318CA46',
        'F9D33685AB',
        '745B1278D7',
        'C176D3A599',
        '175523737B',
        'AFCE571AAC',
        'D213E1AFB8',
        'B7A558F9E5',
        '59D976FBA6',
        '421ADF7C6D',
        '2B1F565379',
        '49E75BB8B5',
        'B4A872186B',
        '763359E9A9',
        'AB3444CF24',
        'FB3BA769F5',
        'C8AADC1BAC',
        'AD78A59564',
        '4172A83C46',
        '35ACC255DB',
        'DFBA692CB2',
        '9D81C4FF18',
        'DF1E5841DB',
        'A4F7F4DF13',
        '5D11A693F6',
        'DCF9D34B4D',
        'C74F866258',
        'B1C91363DB',
        'BF8F987FAA',
        '6E1DDDDAB1',
        'EED5A5B8F8',
        'EF325A249C',
        '74F24A1A78',
        'A74EB438C1',
        '9744B92E54',
        'B61DF2F4DE',
        '34AE1CB684',
        'DEE8D7D5FF',
        '6C7DA72C1C',
        '869954CFBA',
        '2D3349BBFC',
        '9D4782FF1B',
        'B9AF385DA7',
        'C9DF14592B',
        'F11BC6F9B8',
        'CC55828D53',
        '93C9CCCF55',
        '7FC9E5C37F',
        '74188AF2F2',
        '258167F61C',
        '2AD65BC887',
        '6ABD51691B',
        '49E5BF1BDD',
        '7A5F1F59E2',
        '6D5FFAE199',
        'FA8E365BA4',
        '689F3E27CD',
        '5E2E744784',
        'AA11778F76',
        '4D1473CBF1',
        'DEBA112698',
        'E826EAE2F6',
        '7E252D1698',
        '73C5BAF3E3',
        '11A24D7226',
        '4BB3922A78',
        '9D7E895546',
        '431BA3263C',
        '62F5F9E72C',
        '36FBF12F54',
        'CE56623565',
        'C67F6119C8',
        '1458BCA7FE',
        '5322A364D2',
        '19E3C37A47',
        '88F33D7D9C',
        '5DD7AC41DD',
        'DD664DC6AA',
        'CB924E3398',
        'EA47529BF3',
        '36E78EA492',
        'AD1A4B48C2',
        '39D9A3C3BC',
        'B7BE429D2F',
        '83DC224F33',
        '4E37533ADA',
        '495A591C9B',
        '8C63B1B4F2',
        '16DF643313',
        'F198F9B8E6',
        '3E7B1B8B3A',
        'EB778896F1',
        '5E88897A4B',
        '659721B7B5',
        '461B1B313E',
        'F2F1477A9A',
        '51B44F25EF',
        'B986B19AC1',
        'B8269AADAD',
        '51E5E28A16',
        '63C692D386',
        'C9177394D1',
        '14421DFF64',
        '58F9426B24',
        '681131BBEE',
        '4F48C5D476',
        'FDD62C36A3',
        '77CFDAA9DD',
        'E43312B79F',
        '933E932817',
        'DA79FA7AA3',
        'BD83DA9778',
        '623418A655',
        'B5B7D8C488',
        '9514DC36FD',
        '32C4883C8C',
        'E5454C2614',
        'FC724794D8',
        '9FAFC9F955',
        '572E14E976',
        'E4AEB7BD6F',
        'E69FB5FE3E',
        '3A92D2A29F',
        'CD2E42FA8F',
        'B4E638F11E',
        '2F688132E8',
        '4C2C4A3A5E',
        '1C913183E6',
        '39A57D7E25',
        '5FC3F694A9',
        'FDA6E9B8FA',
        '1EBE7316C5',
        'A132BD7F42',
        '3C49B4616F',
        '737FAC7E5C',
        '89989C9A7D',
        'D754EFAA2D',
        '4EE7F38D2B',
        'F913A2D61C',
        '65BB1896F7',
        'DA1EC8C2A8',
        'BF1E8B3622',
        '9AC31DFE5C',
        '581275B4F6',
        '46F3297DA1',
        'BCC5DFDD51',
        '59D22C9D6D',
        '3BBB818154',
        'A4E817BB1B',
        '997D4C2171',
        'DADA7CAAEE',
        '9F8C12B3DA',
        'D6E3C78187',
        '96BA7C1552',
        '3F573E85CE',
        'CF7858C1CA',
        'E6F4D93B88',
        '3AEC2B2D7D',
        'F19969762D',
        '4A74B1AFA2',
        '9618563636',
        'ACDA788524',
        'B85C371ED1',
        '2979952218',
        '692C2952AD',
    ]

    var couponCode = document.getElementById("bro").childNodes[0];
    couponCode.nodeValue = code[Math.floor(Math.random() * code.length)]; 
    

</script>

{% endblock %}