{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> Student Discount chaaryaar{% endblock %}

{% block linkshead %}
<meta name="description"content="Order food on Manipal Jaipur Campus. Get student discounts on Chaaryaar on Studentpeeps.">
<link rel="stylesheet" href="{% static 'css/aftercode.css' %}">
<script src="{% static 'js/aftercode.js' %}"></script>
<style>
    .bg-banner {
        background-image: radial-gradient(circle, #ffcf48, #ffc43b, #ffb92e, #ffad21, #ffa114, #ff9a0d, #ff9305, #ff8c00, #ff8900, #ff8500, #ff8200, #ff7e00);
    }
</style>

{% endblock %}

{% block body %}

<div class="bg-banner">
</div>
<div class="prdouctimg">
    <img  id="center-img" class="final" src="{% static 'images/Chaaryaar_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'images/chaaryaar_logo.png' %}" alt="">
        </div>

        <div class="_all">
            <div class="wrapper">

                <div class="content">
                    <h1>30% Student Discount</h1>
                    <p><a href="https://cutt.ly/LQjJFeN" target="_blank">at Chaaryaar</a></p>
                </div>
                <div class="copy">
                    <p>Copy code and enter on the<br>
                        chaaryaar Website</p>
                </div>
                <div class="showcode" id="text" onclick="copyElementText(this.id)">MUJ30<div class="copy-btn"><i
                            class="fa fa-copy" onclick="copy()"></i></div>
                </div>

                <div class="button d-grid gap-2 col-6 mx-auto">
                    <a href="https://cutt.ly/LQjJFeN" target="_blank"><button class="btn btn-primary" type="button">Open
                            Site & Use Code</button></a>
                </div>
                <hr>
            </div>
            <div class="contenttext">
                <h4>About this student discount</h4>
                <p>• Order delicious foods from top restaurants, at a discount with Studentpeeps.<br>
                    • Use our Chaar Yaar student discount code at the checkout.<br>
                    • Unlock 30% off on all food orders to MUJ campus.<br>
                    • Savour the taste of exotic cuisines, delivered straight to your MUJ Campus, Now!</p>
            </div>
            <hr>
            <div class="contenttext">
                <h4>Terms & Conditions</h4>
                <p> • It is applicable on every food order at chaaryaaronline.com.<br>
                    • It cannot be clubbed with any other coupon/voucher.<br>
                    • Valid only on minimum order of Rs. 599.<br>
                    • Limited only to Manipal Jaipur Students.<br>
                    • Coupon Validity : 30th August, 2021.
                </p>
            </div>
        </div>
    </div>
</center>

{% endblock %}