{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> Student Discounts The Woman's Company{% endblock %}

{% block linkshead %}
<meta name="description"content="The Woman's Company Coupon Codes on Studentpeeps. Get student discount codes for The Woman Company on Studentpeeps. Get flat 25% on The Woman Company using Promo Codes on Studentpeeps.The Woman's Company Coupon Codes on Studentpeeps. Get student discount codes for The Woman Company on Studentpeeps. Get flat 25% on The Woman Company using Promo Codes on Studentpeeps.">


<link rel="stylesheet" href="{% static 'css/aftercode.css' %}">
<script src="{% static 'js/aftercode.js' %}"></script>

<style>
    .bg-banner {
        background-image: radial-gradient(circle, #574747, #784b4b, #974f4e, #b7514e, #d6524d, #dd4e48, #e44a43, #ea463d, #da3c34, #cb332c, #bc2924, #ad1e1c);
    }
</style>

{% endblock %}

{% block body %}

<div class="bg-banner">
</div>
<div class="prdouctimg">
    <img class="final" src="{% static 'images\TWC_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img  id="center-img" class="final" src="{% static 'images/TWC_logo.png' %}" alt="">
        </div>

        <div class="_all">
            <div class="wrapper">
                <div class="content">
                    <h1>25% Student Discount</h1>
                    <p><a href="https://cutt.ly/iQMsxoR" target="_blank">at The Woman's Company</a></p>
                </div>
                <div class="copy">
                    <p>Copy code and enter on the<br>
                        The Woman's Company</p>
                </div>

                <div class="showcode" id="text" onclick="copyElementText(this.id)">STUDENTPEEPS25 <div class="copy-btn">
                        <i class="fa fa-copy" onclick="copy()"></i></div>
                </div>
                <div class="button d-grid gap-2 col-6 mx-auto">
                    <a href="https://cutt.ly/iQMsxoR" target="_blank"><button class="btn btn-primary" type="button">Open
                            Site & Use Code</button></a>
                </div>
                <hr>
            </div>
            <div class="contenttext">
                <h4>About this student discount</h4>
                <p> • Pick any menstrual product at a discount with Studentpeeps. <br>
                    • Use TheWoman’s Company student discount code at the checkout. <br>
                    • Unlock 25% off on your most comforting menstrual product. <br>
                    • Take care of your personal hygiene and shop from the most convenient, safe, & bio - degradable
                    products, Now!
                </p>
            </div>
            <hr>
            <div class="contenttext">
                <h4>Terms & Conditions</h4>
                <p> • It is applicable on all personal essentials at thewomanscompany.com <br>
                    • It cannot be clubbed with any other coupon/voucher. <br>
                    • Coupon Validity: 3 Months.
                </p>
            </div>
        </div>
    </div>
</center>

{% endblock %}