{% extends 'base.html' %} {% load static %} {% block title %}StudentPeeps >>
Student Discounts Bookchor{% endblock %} {% block linkshead %}

<link rel="stylesheet" href="{% static 'css/aftercode.css' %}" />
<script src="{% static 'js/aftercode.js' %}"></script>
<meta
  name="description"
  content="Get flat 10% BookChor Offers & Promo Codes on Studentpeeps. Get student discounts on Bookchor on Studentpeeps. Get a student discount coupon code for Bookchor on Studentpeeps"
/>
<style>
  .bg-banner {
    background-image: radial-gradient(
      circle,
      #7c664b,
      #836b4f,
      #8a7153,
      #917658,
      #987c5c,
      #8e7457,
      #856d52,
      #7b654d,
      #5f4f3e,
      #453a2f,
      #2c2721,
      #151413
    );
  }
</style>

{% endblock %} {% block body %}

<div class="bg-banner"></div>
<div class="prdouctimg">
  <img class="final" src="{% static 'images\Bookchor_inner.webp' %}" alt="" />
</div>
<center>
  <div class="complete">
    <div class="brandlogo">
      <img
        id="center-img"
        class="final"
        src="{% static 'images/bookchor_logo.png' %}"
        alt=""
      />
    </div>

    <div class="_all">
      <div class="wrapper">
        <div class="content">
          <h1>10% above Rs.499</h1>
          <p>
            <a href="https://cutt.ly/1W0H0z0" target="_blank">at Bookchor</a>
          </p>
        </div>
        <div class="copy">
          <p>
            Copy code and enter on the<br />
            Bookchor Website
          </p>
        </div>

        <div class="showcode">
          BOOKCHOR10
          <div class="copy-btn">
            <i class="fa fa-copy" onclick="copy()"></i>
          </div>
        </div>
        <br />
        <hr />

        <div class="content">
          <h1>Rs.100 Student Discount</h1>
          <p>
            <a href="https://cutt.ly/1W0H0z0" target="_blank">at Bookchor</a>
          </p>
        </div>
        <div class="copy">
          <p>
            Copy code and enter on the<br />
            Bookchor Website
          </p>
        </div>

        <div class="showcode">
          {{code}}
          <div class="copy-btn">
            <i class="fa fa-copy" onclick="copy()"></i>
          </div>
        </div>
        <br />

        <div class="button d-grid gap-2 col-6 mx-auto">
          <a href="https://cutt.ly/1W0H0z0" target="_blank"
            ><button class="btn btn-primary" type="button">
              Open Site & Use Code
            </button></a
          >
        </div>
        <hr />
      </div>
      <div class="contenttext">
        <h4>About this student discount</h4>
        <p>
          • Order any book of your choice at a discount with Studentpeeps<br />
          • Use our Bookchor student discount code at the checkout<br />
          • Unlock Rs.100 off on your dearest book or novel<br />
          • Hey Bibliophiles, immerse yourselves in a world of stories, and buy
          the best books at the cheapest prices, Now!
        </p>
      </div>
      <hr />
      <div class="contenttext">
        <h4>Terms & Conditions</h4>
        <p>
          • It is applicable on all categories of books and novels at
          bookchor.com<br />
          • It cannot be clubbed with any other coupon/voucher<br />
          • Valid only on minimum order of Rs. 499<br />
          • Coupon Validity : 31st June, 2022<br />
        </p>
      </div>
    </div>
  </div>
</center>
<script>
  var code = [
    "BKC1L26",
    "BKCVD3Z",
    "BKCKFZX",
    "BKCY0EA",
    "BKCNZF6",
    "BKCY7Z2",
    "BKC692L",
    "BKC62J7",
    "BKCW1MN",
    "BKCST78",
    "BKCS76D",
    "BKCCLT5",
    "BKCYG5L",
    "BKC4D31",
    "BKCP5HU",
    "BKCV5M2",
    "BKCCHTU",
    "BKCIFEC",
    "BKC7TOL",
    "BKC2WI5",
    "BKCF4RH",
    "BKC2H81",
    "BKCZDVI",
    "BKCS8FQ",
    "BKCJBKQ",
    "BKCYM8R",
    "BKCZAM4",
    "BKC6UBX",
    "BKCEQS2",
    "BKC10WH",
    "BKCZJ2G",
    "BKCSYIQ",
    "BKCYUV3",
    "BKCKPNZ",
    "BKC45G8",
    "BKCAM5O",
    "BKCOQP0",
    "BKCCN3P",
    "BKCXMEF",
    "BKCLM9B",
    "BKC2290",
    "BKCQX63",
    "BKCX8M2",
    "BKC7DSS",
    "BKCN8EG",
    "BKCEZB1",
    "BKCGWR6",
    "BKCOP3E",
    "BKCXDU6",
    "BKCC0EO",
    "BKCXTXA",
    "BKCN029",
    "BKCTJXT",
    "BKC3I8K",
    "BKCAGP9",
    "BKCFUNT",
    "BKCB8N9",
    "BKCUWCR",
    "BKCOPTV",
    "BKCDGLP",
    "BKCMOPO",
    "BKCFYHH",
    "BKC37C0",
    "BKC05S7",
    "BKCWM6L",
    "BKCH7FS",
    "BKC7UFU",
    "BKCY4LZ",
    "BKCVJ3H",
    "BKCW44E",
    "BKC103F",
    "BKC1SXB",
    "BKCY65K",
    "BKC7IGD",
    "BKCLDBD",
    "BKCQ0IR",
    "BKCLPF7",
    "BKCM9BA",
    "BKCWYVE",
    "BKCUMTD",
    "BKCERRA",
    "BKCRL3D",
    "BKCTJ95",
    "BKCIJRU",
    "BKCCQG9",
    "BKCAOKG",
    "BKCCLCK",
    "BKCQAK1",
    "BKC4PW1",
    "BKC763T",
    "BKC7ROY",
    "BKCFJRT",
    "BKCZR11",
    "BKC66JZ",
    "BKC247L",
    "BKCW7L7",
    "BKC5QAK",
    "BKCGYO4",
    "BKC33NC",
    "BKC7BMM",
    "BKCROX4",
    "BKCU1US",
    "BKCNDFO",
    "BKCF2DD",
    "BKCYY1C",
    "BKCJQUG",
    "BKCT05D",
    "BKCA870",
    "BKCITP3",
    "BKCJ9NU",
    "BKCTROH",
    "BKC78VW",
    "BKCP2NT",
    "BKCMI9F",
    "BKCYWZP",
    "BKC7DWX",
    "BKCTBUH",
    "BKC88Y9",
    "BKCU7G5",
    "BKC5AOC",
    "BKCZS6Q",
    "BKCZGE9",
    "BKC14TI",
    "BKCU712",
    "BKCL9X7",
    "BKCE3P1",
    "BKC1CC8",
    "BKCAINV",
    "BKC81O9",
    "BKCYZTV",
    "BKC7T6Z",
    "BKC13DN",
    "BKC389K",
    "BKC30MA",
    "BKC7864",
    "BKCTXJV",
    "BKCYCHK",
    "BKCVGUS",
    "BKCJZ1M",
    "BKC5PEI",
    "BKCUS34",
    "BKCQKWM",
    "BKC6O6T",
    "BKCQGPS",
    "BKCXODA",
    "BKCA0PR",
    "BKCLPRH",
    "BKC6PP1",
    "BKCWVBI",
    "BKCSH0E",
    "BKCQ55P",
    "BKCO1IQ",
    "BKC1EAY",
    "BKC7UEC",
    "BKC9XXD",
    "BKCYP6M",
    "BKCIW84",
    "BKC5B2H",
    "BKCZ4B6",
    "BKCROYA",
    "BKCZ9B1",
    "BKCMOBN",
    "BKCH4AF",
    "BKC8PR5",
    "BKCEYI7",
    "BKCZO4C",
    "BKCLKXD",
    "BKCVORZ",
    "BKCQBZ6",
    "BKCCG1S",
    "BKCGSET",
    "BKCS331",
    "BKCBZLC",
    "BKCWHQG",
    "BKCMBTL",
    "BKCSFZN",
    "BKCS04Q",
    "BKCO2A8",
    "BKCXP3U",
    "BKC78BC",
    "BKCU2R7",
    "BKC76RQ",
    "BKCYS2Z",
    "BKCEJXS",
    "BKC4WZH",
    "BKCPJ2W",
    "BKCYJCF",
    "BKC3I3L",
    "BKCUL93",
    "BKCPCB7",
    "BKC9R5M",
    "BKCPBBK",
    "BKC45LQ",
    "BKC9JLI",
    "BKC672L",
    "BKC968E",
    "BKCHAO2",
    "BKCL3T1",
    "BKC23CS",
    "BKCFRSZ",
    "BKCRMJZ",
    "BKCNQKX",
    "BKCC00E",
    "BKCNQM7",
    "BKCW63Q",
    "BKCWNYY",
    "BKC1FQL",
    "BKCITDZ",
    "BKCYAB3",
    "BKCD214",
    "BKCU5VH",
    "BKCUMYR",
    "BKCTZ3T",
    "BKCMWZ1",
    "BKCJBR8",
    "BKCAR8A",
    "BKCQR8R",
    "BKCPP3T",
    "BKC02ZE",
    "BKC4QDZ",
    "BKCK4V6",
    "BKCCMXC",
    "BKC3GW3",
    "BKCPGA7",
    "BKC4P6T",
    "BKC1R9R",
    "BKCHD06",
    "BKCJQC0",
    "BKCWRTY",
    "BKCN1FZ",
    "BKCLVXE",
    "BKCRZWT",
    "BKCGB1T",
    "BKCGCED",
    "BKC9TGL",
    "BKCGPDW",
    "BKCS75L",
    "BKCG65I",
    "BKC0WPH",
    "BKCITHY",
    "BKCXYRU",
    "BKC8HD8",
    "BKCQP0D",
    "BKCGM38",
    "BKCHKKX",
    "BKC8FFE",
    "BKCMK7F",
    "BKCCC34",
    "BKC4YHE",
    "BKCVMNS",
    "BKCVICY",
    "BKC3DPY",
    "BKCTK8Q",
    "BKCYVHB",
    "BKCPBWS",
    "BKC81S9",
    "BKC3VLP",
    "BKCR09N",
    "BKCT8WR",
    "BKCBMGR",
    "BKCTEU3",
    "BKCM4IJ",
    "BKCTP4G",
    "BKCXSG6",
    "BKC9YTH",
    "BKCUNXE",
    "BKCUR8E",
    "BKCQOQV",
    "BKCX47I",
    "BKCQ8WD",
    "BKCOGAY",
    "BKC7TDZ",
    "BKC907J",
    "BKCKCOG",
    "BKCGV9V",
    "BKCRTH0",
    "BKCKKL3",
    "BKCZFJA",
    "BKCF0PQ",
    "BKCUTI8",
    "BKCWABC",
    "BKCWZTY",
    "BKCNNB2",
    "BKCAPJW",
    "BKC7XDE",
    "BKCUSM5",
    "BKC689P",
    "BKCGCOF",
    "BKCHUBT",
    "BKCC577",
    "BKCEUNN",
    "BKCZ5I7",
    "BKCYJT3",
    "BKCQPG4",
    "BKCXT2X",
    "BKCJE8Z",
    "BKCFFMK",
    "BKCHJP0",
    "BKCSKFG",
    "BKC6WE5",
    "BKC5K2R",
    "BKCUXAT",
    "BKC5FA3",
    "BKC12G6",
    "BKCMRF5",
    "BKC9FIA",
    "BKCRZCE",
    "BKCYQ9A",
    "BKCJA8S",
    "BKC5VA3",
    "BKC6N60",
    "BKC5SN1",
    "BKC576L",
    "BKCOYIL",
    "BKCVWHU",
    "BKC01V2",
    "BKCENSS",
    "BKCN9H3",
    "BKCOBSR",
    "BKCLB2M",
    "BKCPYPB",
    "BKC9K08",
    "BKCI4QV",
    "BKCQ6AK",
    "BKCOQJE",
    "BKCP5O0",
    "BKCT6GR",
    "BKCK7G2",
    "BKCG9RA",
    "BKC8J2J",
    "BKC4HQ1",
    "BKCPSCT",
    "BKCKCME",
    "BKCUG2C",
    "BKCRCV1",
    "BKCO53H",
    "BKCHI3H",
    "BKCI0DN",
    "BKCJH1S",
    "BKCGF6N",
    "BKCXOZA",
    "BKCM21G",
    "BKCSOM8",
    "BKCXVRV",
    "BKCFIIR",
    "BKC9O8J",
    "BKCC7O1",
    "BKCXMB3",
    "BKC0OYA",
    "BKC38H7",
    "BKCILU9",
    "BKCVT4U",
    "BKCXVW0",
    "BKCQ2V8",
    "BKC9V0G",
    "BKCESSX",
    "BKCKLPB",
    "BKC4I0Q",
    "BKCA5HB",
    "BKCTYJ7",
    "BKCN308",
    "BKCS7TY",
    "BKC9LAA",
    "BKCH45G",
    "BKCZJ8H",
    "BKCOQ0K",
    "BKC6UXS",
    "BKCI5VD",
    "BKCMM3N",
    "BKCFUWW",
    "BKCQHGF",
    "BKC17V7",
    "BKCJ0WQ",
    "BKCTUV8",
    "BKCUQS4",
    "BKCLFCU",
    "BKC2UF3",
    "BKC27NG",
    "BKCE068",
    "BKCBOL4",
    "BKCFAFT",
    "BKCOQF1",
    "BKCQHAX",
    "BKC0NIQ",
    "BKCUB21",
    "BKC28ZY",
    "BKCX649",
    "BKCPWIW",
    "BKCCD3G",
    "BKC3350",
    "BKCO3A7",
    "BKCP667",
    "BKCNZ1M",
    "BKC2YQJ",
    "BKC9403",
    "BKCO299",
    "BKC6GPK",
    "BKCGT4B",
    "BKC0OIF",
    "BKC6QR7",
    "BKC6NOA",
    "BKC2D68",
    "BKC59DC",
    "BKCZWFH",
    "BKC3ZWB",
    "BKCAPF8",
    "BKCFHZ0",
    "BKCL1TL",
    "BKCSNOX",
    "BKCRC4N",
    "BKCAXW0",
    "BKCJ9NE",
    "BKCTRIJ",
    "BKC0R83",
    "BKC3106",
    "BKCN5YH",
    "BKC9JXT",
    "BKCX1WV",
    "BKC676M",
    "BKCHFFP",
    "BKC9R8V",
    "BKCJH7P",
    "BKC9PD9",
    "BKC4V08",
    "BKC2HMZ",
    "BKCJH6I",
    "BKCEQ79",
    "BKCQOMI",
    "BKCVIKT",
    "BKCT813",
    "BKCZD09",
    "BKCIRGX",
    "BKCFK42",
    "BKCEZKU",
    "BKCFTUK",
    "BKC241R",
    "BKCT3EQ",
    "BKCSLBN",
    "BKCLJLD",
    "BKCWX88",
    "BKCBY0Y",
    "BKCI4Z5",
    "BKCFS1M",
    "BKCIKMG",
    "BKC9DFC",
    "BKCQ9EE",
    "BKCKOD3",
    "BKCKOE9",
    "BKC957Y",
    "BKCDYRO",
    "BKCR1HY",
    "BKCC8OD",
    "BKC5HBW",
    "BKCK2K2",
    "BKCXGA3",
    "BKCQN2B",
    "BKCISZS",
    "BKC8HEK",
    "BKCNIL2",
    "BKC0LRC",
    "BKCYS99",
    "BKC6SXJ",
    "BKCCUD0",
    "BKCPBRG",
    "BKCC5Z9",
    "BKCZH2N",
    "BKCADBW",
    "BKC95QC",
    "BKCB3GT",
    "BKC4A5R",
    "BKC46PN",
    "BKCNMQJ",
    "BKC0OB1",
    "BKC5T0O",
    "BKCUFFW",
    "BKCHWLJ",
    "BKC8IFX",
    "BKC44U4",
    "BKCD55I",
    "BKCMFGN",
    "BKCTJBQ",
    "BKCZ6X6",
    "BKCMAHK",
    "BKCYXFE",
    "BKCZ5I4",
    "BKC8EYC",
    "BKCR5AK",
    "BKCUJY4",
    "BKC0VPD",
    "BKCYBVO",
    "BKC4KJZ",
    "BKCJCSU",
    "BKCCWQZ",
    "BKCBMEP",
    "BKCPEYL",
    "BKC4QQW",
    "BKC7CWX",
    "BKCE93V",
    "BKCKT8L",
    "BKCNUOD",
  ];
  var couponCode = document.getElementById("bro").childNodes[0];
  couponCodeshown = code[Math.floor(Math.random() * code.length)];
  couponCode.nodeValue = couponCodeshown;
</script>
{% endblock %}
