{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> Rage Coffee{% endblock %}

{% block linkshead %}
<meta name='keywords' content='rage coffee student discount, rage coffee coupons, rage coffee discount code, Rage Coffee Discounts & Deals'>

<meta name="description" content="Enjoy delicious Rage Coffee at a discount with Studentpeeps. Unlock 15% off with rage coffee student discount on Studentpeeps. Avail the Rage coffee discount code and save money on Rage Coffee products. Get 15% discount under Rage coffee coupons on Studentpeeps. Sign up on Studentpeeps for amazing Rage Coffee discounts and deals for students.">

<link rel="stylesheet" href="{% static 'css/aftercode.css' %}">
<script src="{% static 'js/aftercode.js' %}"></script>

<style>
    .bg-banner {
        background: rgb(161,160,224);
        background: radial-gradient(circle, rgba(161,160,224,1) 45%, rgba(185,136,214,1) 100%);
    }
</style>

{% endblock %}

{% block body %}

<div class="bg-banner">
</div>
<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/ragecoffee_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/ragecoffee_logo.webp' %}" alt="">
        </div>

        <div class="_all">
            <div class="wrapper">
                <div class="content">
                    <h1>15% Student Discount</h1>
                    <p><a href="https://ragecoffee.com/" target="_blank">at Rage Coffee</a></p>
                </div>
                <div class="copy">
                    <p>Copy code and enter on the<br>
                         Rage Coffee Website</p>
                </div>

                <div class="showcode" id="text" onclick="copyElementText(this.id)">STUDENTPEEPS<div
                        class="copy-btn"> <i class="fa fa-copy" onclick="copy()"></i></div>
                </div>


                <div class="button d-grid gap-2 col-6 mx-auto">
                    <a href="https://ragecoffee.com/" target="_blank"><button class="btn btn-primary" type="button">Open
                            Site & Use Code</button></a>
                </div>
                <hr>
            </div>
            <div class="contenttext">
                <h4>About this student discount</h4>
                <p> • Grab any Rage Coffee product at a discount with Studentpeeps<br>
                    • Use our Rage coffee student discount code at the checkout<br>
                    • Unlock 15% off on your favorite blended - aromatic coffee<br>
                    • From instant, ground and liquid coffee to cold brew bags and sacher shots, enjoy flavored coffee with rage coffee student discount, Now!<br>
                    
                </p>
            </div>
            <hr>
            <div class="contenttext">
                <h4>Terms & Conditions</h4>
                <p> • It is applicable on all rage coffee products at ragecoffee.com<br>
                    • Rage coffee discount code cannot be clubbed with any other coupon/voucher<br>
                    • Coupon Validity : 31st December, 2022 <br>
                    • Read detailed terms and conditions at their website for more Rage Coffee discounts and deals.<br> 
                    • Kindly visit <a style="color: #0d6efd;" href="https://ragecoffee.com/">https://ragecoffee.com/</a> for any queries or disputes regarding Rage coffee coupons.
                    <br>
                </p>
            </div>
        </div>
    </div>
</center>


{% endblock %}