{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> Student Discounts Sattviko{% endblock %}

{% block linkshead %}

<link rel="stylesheet" href="{% static 'css/aftercode.css' %}">
<script src="{% static 'js/aftercode.js' %}"></script>

<style>
    .bg-banner {
  background: rgb(210,255,240);
background: radial-gradient(circle, rgba(210,255,240,1) 36%, rgba(170,213,203,1) 86%);    }
</style>

{% endblock %}

{% block body %}

<div class="bg-banner">
</div>
<div class="prdouctimg">
    <img class="final" src="{% static 'images/saatviko_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img  id="center-img" class="final" src="{% static 'images/sattviko_logo.png' %}" alt="">
        </div>

        <div class="_all">
        <div class="wrapper">
            <div class="content">
                <h1>15% Student Discount</h1>
                <p><a href="https://cutt.ly/8Qb3lfn" target="_blank">at Sattviko</a></p>
            </div>
            <div class="copy">
                <p>Copy code and enter on the<br>
                    Sattviko Website</p>
            </div>

            <div class="showcode" id="text1" onclick="copyElementText(this.id)">SATTVIKOSP15 <div class="copy-btn"><i class="fa fa-copy" onclick="copy()"></i></div></div><br>
            <hr>
            <div class="content">
                <h1>10% Student Discount</h1>
                <p><a href="https://cutt.ly/8Qb3lfn" target="_blank">at Sattviko</a></p>
            </div>
            <div class="copy">
                <p>Copy code and enter on the<br>
                    Sattviko Website</p>
            </div>

            <div class="showcode" id="text2" onclick="copyElementText(this.id)">SATTVIKOSP10 <div class="copy-btn"><i class="fa fa-copy" onclick="copy()"></i></div></div>


            <div class="button d-grid gap-2 col-6 mx-auto">
                <a href="https://cutt.ly/8Qb3lfn" target="_blank"><button class="btn btn-primary" type="button">Open
                        Site & Use Code</button></a>
            </div>
            <hr>
            </div>
            <div class="contenttext">
                <h4>About this student discount</h4>
                <p> • Enjoy any instant superfood at a discount with Studentpeeps.<br>
                    • Use our Sattviko student discount code at the checkout.<br>
                    • Unlock flat 15% off on your favorite fitness-snack order.<br>
                    • Stuff your gym bags with these fibre rich, super crunchy, protein shots, Now!
                    </p>
            </div>
            <hr>
            <div class="contenttext">
                <h4>Terms & Conditions</h4>
                <p> • It is applicable on all supermeals at in.sattviko.com <br>
                    • It cannot be clubbed with any other coupon/voucher.<br>
                    • Avail 10% discount on minimum order of Rs. 499.<br>
                    • Avail 15% discount on minimum order of Rs. 799.                
                </p>
            </div>
        </div>
    </div>
</center>
{% endblock %}