{% extends 'base.html' %}
{% load static %}

{% block metadesc %}
    <meta name="description" content="Get student discounts on domestic and international flight bookings with Ease My Trip. Unlock 5% discount under Ease my trip student discount available on Studentpeeps. Sign up on Studentpeeps and get 5% off with student offer Ease My Trip." />
{% endblock %}

{% block metakeywords %} 

<meta name='keywords' content='ease my trip student discount, extra baggage allowance for students 2021, student offer ease my trip, Ease My trip first time coupon'>


{% endblock %}
{% block title %}EaseMyTrip Student Discount | 5% off{% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
    .prdouctimg {
        background-image: radial-gradient(circle, #f6d39b, #f0b492, #e09890, #c68192, #a26f91, #8f688f, #7a618b, #655b86, #635985, #605884, #5e5684, #5b5583);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/easemytrip_inner.webp' %}" alt="" />
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/easemytrip_logo.webp' %}" alt="" />
        </div>

        <div class="content">
            <h1>5% Student Discount</h1>
            <p><a href="https://www.easemytrip.com/" target="_blank">at EaseMyTrip</a></p>
        </div>

        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://www.easemytrip.com/flights.html" target="_blank">Get Offer</a>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>About this Student offer</h4>
            <p>
            • Grab discounts on domestic and international flight bookings with Ease My Trip.<br>
            • Click on Get Offer to avail the offer.<br>
            • Unlock 5% discount (maximum up to Rs. 3000) on booking domestic or international flight. (Coupon code : EMTSTUDENT) <br>
            • Search lowest airfares while booking domestic and international flights by taking the Ease my trip student discount, now!<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>How to redeem?</h4>
            <p>• Students have to select the student option after re-direction in order to avail the discount.</p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>Terms & Conditions</h4>
            <p> • To avail this offer, students have to book domestic or international flights with Ease My Trip by applying the coupon code available on the website.<br>
                • Offer is applicable for students above the age of 12 years, who belong to a recognized School/University with Student ID card.<br>
                • Offer is valid for a limited period only. (Booking period Till 31st Jan, 2022)<br>
                • Students must carry their valid School/University id card to show to the airport authority/security at the time of check-in as proof of their identity.<br>
                • Other offers can't be clubbed along with this offer.<br>
                • Read detailed Terms & Conditions before availing the student offer Ease My Trip.<br>
                • To know more about Ease My trip first time coupon, <a style="color:#0d6efd" href="https://www.easemytrip.com/offers/students.html?CouponCode=EMTSTUDENT">click here.</a><br>
                • StudentPeeps only redirects you to the official brand’s website, and has not partnered up with Easy My Trip. All queries and disputes concerning Ease my trip student discount, have to be entertained by Ease My Trip and not StudentPeeps.<br>
            </p>
        </div>
    </div>
</center>


{% endblock %}