{% extends 'base.html' %}
{% load static %}

{% block metadesc %}
    <meta name="description"content="Get discount on base fares and baggage allowances with Goair student discount. Go Air student offer allows 5% off on base fares and baggage allowances. Get student discount and special Go Air student extra baggage allowance on all domestic flights with Studentpeeps. Avail Go Air student ticket and save money on flight bookings. Student discount Go Air is available on Studentpeeps." />
{% endblock %}

{% block metakeywords %} 

<meta name="keywords" content="Go Air, goair student discount, go air student offer, go air student ticket, student discount go air, go air student extra baggage, student discount flights - must use, great flight offer for students">

{% endblock %}
{% block title %}Go First Student Discount | 5% off{% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
    .prdouctimg {
        background-image: radial-gradient(circle, #54619d, #515e99, #4e5a94, #4b5790, #48548c, #445089, #414d87, #3d4984, #384482, #323f81, #2d3b7f, #27367d);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/gofirst_inner.webp' %}" alt="" />
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/gofirst_logo.webp' %}" alt="" />
        </div>

        <div class="content">
            <h1>5% Student Discount</h1>
            <p><a href="https://www.flygofirst.com/" target="_blank">at Go First</a></p>
        </div>

        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://www.flygofirst.com/offers-and-promotions/student-offer/" target="_blank">Get Offer</a>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>About this Student offer</h4>
            <p>
            • Save money on booking of flights under the Smart Student Fare introduced by Go Air (Go First)<br>
            • Click on Get Offer to avail the offer.<br>
            • Unlock 5% off as discount on base fares and baggage allowances up to 25 kg.<br>
            • Make the most of your student identity. Grab student discount on all domestic flights by taking the Goair student discount, Now!<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>How to redeem?</h4>
            <p>• Students have to select the student option after re-direction in order to avail the discount.<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>Terms & Conditions</h4>
            <p> • Offer is applicable only for students above the age of 12 years, who belong to a recognized School/University that issues a bonafide Student ID card.<br>
                • Student discount is valid on both, one-way and round-trip bookings.<br>
                • Go Air student extra baggage allowance of 25 kgs (Standard 15kgs + 10kgs) will be allowed at the Airport only after a student shows a valid student ID card as well as valid Government approved photo ID.<br>
                • Offer cannot be combined with any other offers/ discounts/ promotions from GoAir (Go First).
                Read detailed Terms & Conditions before availing the Go Air student offer.<br>
                • To know more about Go Air student ticket, <a style="color:#0d6efd" href="https://www.flygofirst.com/offers-and-promotions/student-offer/">click here.</a><br>
                • StudentPeeps only redirects you to the official brand's website, and has not partnered up with GoAir (Go First). All queries and disputes concerning student discount Go Air have to be entertained by Go Air (Go First) and not StudentPeeps<br>
            </p>
        </div>
    </div>
</center>


{% endblock %}