{% extends 'base.html' %}
{% load static %}
{% block metadesc %}
    <meta name="description"content="Save money on bookings to travel via the domestic flight network of InterGlobe Aviation Limited (IndiGo)." />
{% endblock %}
{% block metakeywords %} 
    <meta name="keywords" content="Indigo student discount, indigo flight student discount, student discount on international flights from india, indigo student discount baggage allowance, discount on base fares and baggage allowances, student extra baggage allowance domestic">
{% endblock %}
{% block title %}Indigo Student Discount | 6% off {% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
    .prdouctimg {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(38,114,194,1) 100%);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/indigo_inner.webp' %}" alt="" />
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/indigo_logo.webp' %}" alt="" />
        </div>

        <div class="content">
            <h1>Upto 6% Student Discount</h1>
            <p><a href="https://www.goindigo.in/" target="_blank">at IndiGo</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://www.goindigo.in/add-on-services/student-discount.html" target="_blank">Get Offer</a>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>About this student discount</h4>
            <p>
            • Save money on bookings to travel via the domestic flight network of InterGlobe Aviation Limited (IndiGo).<br>
            • Click on Get Offer to avail the offer.<br>
            • Unlock 6% off on your base fare and an extra baggage allowance of 10kg (for bookings made 7 days in advance).<br>
            • Make the most of your student identity. Grab the discounted fare and extra baggage allowance by taking the Indigo student discounts, Now!<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>Terms & Conditions</h4>
            <p>• Offer is applicable only for University students in India. <br>
                • Offer is not applicable for those who already tried the Indigo flight student discounts in India.<br>
                • Read detailed Terms & Conditions before availing the Indigo student discount baggage allowance.<br>
                • To know more about student extra baggage allowance domestic, visit <a style="color:#0d6efd" href="https://www.goindigo.in/add-on-services/student-discount.html">click here.</a><br>
                • It cannot be clubbed with any other coupon/voucher.<br>
                • Offer Validity : 31st March 2022<br>
                • StudentPeeps only redirects you to the official brand’s website, and has not partnered up with Indigo. All queries and disputes concerning Indigo student discount have to be entertained by Indigo and not StudentPeeps.

            </p>
        </div>
    </div>
</center>


{% endblock %}