{% extends 'base.html' %} {% load static %} {% block title %}StudentPeeps >>
Mnytra{% endblock %} {% block linkshead %}
<meta
  name="keywords"
  content="Myntra student discount, Myntra coupons, Myntra discount code, Mnytra Discounts & Deals"
/>

<meta
  name="description"
  content="Get extra flat 10% off on Myntra products with Studentpeeps. Shop apparel, footwear and accessories from Myntra with 10% discount on Studentpeeps. Get student discount coupons & discount codes for Myntra on Studentpeeps. Shop from Roadster, Allen Solly, Adidas, Puma, Nike, Mango, RedTape, HRX and DressBerry at a discount. Save up to Rs 500 by availing student discounts on Myntra with Studentpeeps."
/>

<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
  .prdouctimg {
    background: rgb(255, 121, 214);
    background: linear-gradient(
      90deg,
      rgba(255, 121, 214, 1) 0%,
      rgba(226, 72, 9, 1) 44%,
      rgba(255, 170, 93, 1) 100%
    );
  }
</style>

{% endblock %} {% block body %}

<div class="prdouctimg">
  <img
    class="final"
    src="{% static 'img/Tiles_inner/myntra_inner.webp' %}"
    alt=""
  />
</div>
<center>
  <div class="complete">
    <div class="brandlogo">
      <img
        class="final"
        src="{% static 'img/Logos/myntra_logo.webp' %}"
        alt=""
      />
    </div>

    <div class="content">
      <h1>10% Student Discount</h1>
      <p>
        <a
          href="https://myntraapp.onelink.me/1L28/studentpeeps22"
          target="_blank"
          >at Myntra</a
        >
      </p>
    </div>
    <div class="button d-grid gap-2 col-6 mx-auto">
      <a
        class="btn btn-primary"
        href="https://studentpeeps.club/student-discount-myntra/"
        >Get Code</a
      >
    </div>
    <hr />
    <div class="contenttext">
      <h4>About this student discount</h4>
      <p>
        • Shop trendy apparel, footwear or accessories at a discount with
        Studentpeeps<br />
        • Use our Myntra student discount code at the checkout<br />
        • Unlock 10% off up to Rs. 500 on your favorite fashion merchandise<br />
        • Shop at discounted prices from a host of brands like Adidas, HRX,
        Puma, Roadster, Mango, and DressBerry Now!<br />
      </p>
    </div>
    <hr />
    <div class="contenttext">
      <h4>Terms & Conditions</h4>
      <p>
        • Offer is applicable only on a selected catalog.<br />
        • Offer valid only on minimum order of Rs. 999 on select styles at
        Myntra.<br />
        • Code can be used once per customer.<br />
        • It cannot be clubbed with any other coupon/voucher.<br />
        • In no case, whatsoever, can the discount amount be refunded, encashed
        or partly encashed.<br />
        • Offer is not valid at any of the alliance partner retail
        outlets/stores.<br />
        • Coupon Validity : 31st August, 2022<br />
      </p>
    </div>
  </div>
</center>

{% endblock %}
