{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> Naagin Sauce{% endblock %}

{% block linkshead %}
<meta name="description"content="Naagin Sauce student coupon codes & promo codes on Studentpeeps. Get 15% student discount codes for Naagin Sauce on Studentpeeps. Get flat 15% on Naagin Sauce using Promo Codes on Studentpeeps.">

<link rel="stylesheet" href="{% static 'css/getcode.css' %}">
<style>
    .prdouctimg {
        background-image: radial-gradient(circle, #e19a4a, #e29e5e, #e1a371, #dfa983, #dbaf94, #d2a88e, #caa088, #c19982, #b38265, #a36c49, #93562e, #824111);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'images/naagin_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'images/naagin.png' %}" alt="">
        </div>

        <div class="content">
            <h1>15% Student Discount</h1>
            <p><a href="https://cutt.ly/qnkWVhJ" target="_blank">at Naagin Sauce</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/student-discount-naagin">Get Code</a>
        </div>
        <hr>
        <div class="contenttext">
            <h4>About this student discount</h4>
            <p>• Try any vegan hot sauce at a discount with Studentpeeps.<br>
               • Use our Naagin student discount code at the checkout.<br>
               • Unlock flat 15% off on your  sauce order.<br>
               • Spice up your platter, by trying the smoking hot sauce collection, Now!
                </p>
        </div>
        <hr>
        <div class="contenttext">
            <h4>Terms & Conditions</h4>
            <p> • It is applicable on all sauce bottles at naaginsauce.com <br>
                • It cannot be clubbed with any other coupon/voucher.                        
            </p>
        </div>
    </div>
</center>


{% endblock %}


    
