{% extends 'base.html' %} {% load static %} {% block metadesc %}
<meta
  name="description"
  content="Get flats, houses, rooms for rent at Nestaway with discounted prices. Get student discounts for Nestaway with Studentpeeps. Unlock Rs.1000 off with Studentpeeps on Nestaway student accommodation. Student discount available on Studentpeeps for flats, rooms and rental property for students. Save Rs.1000 on successful booking of Nestaway houses with Studentpeeps."
/>
{% endblock %} {% block metakeywords %}
<meta
  name="keywords"
  content="nestaway student discount, nestaway discount for Students"
/>
{% endblock %} {% block title %}Nestaway Student Discount | Rs.1000 off student
discount {% endblock %} {% block linkshead %}
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
  .prdouctimg {
    background-image: linear-gradient(
      to right top,
      #00f9b2,
      #5af996,
      #84f77a,
      #a9f55d,
      #cbf041,
      #c2f14d,
      #baf158,
      #b2f163,
      #84f391,
      #60f0b9,
      #56ead7,
      #6fe2e8
    );
  }
</style>

{% endblock %} {% block body %}

<div class="prdouctimg">
  <img
    class="final"
    src="{% static 'img/Tiles_inner/nestaway_inner.webp' %}"
    alt=""
  />
</div>
<center>
  <div class="complete">
    <div class="brandlogo">
      <img
        class="final"
        src="{% static 'img/Logos/nestaway_logo.webp' %}"
        alt=""
      />
    </div>

    <div class="content">
      <h1>Rs.1000 Student Discount</h1>
      <p>
        <a href="https://www.nestaway.com/" target="_blank">at Nestaway</a>
      </p>
    </div>
    <div class="button d-grid gap-2 col-6 mx-auto">
      <a
        class="btn btn-primary"
        href="https://forms.gle/V26EotcmZrUB4nVx8"
        target="_blank"
        >Get Offer</a
      >
    </div>
    <hr />
    <div class="contenttext" style="padding-right: 10px">
      <h4>About this Student offer</h4>
      <p>
        • Rent a home for yourself, friends or family at a discount with
        Studentpeeps.<br />
        • Find a flat/house in your desired location, based on your budget,
        house- pictures, house-furnishing and other amenities. Schedule a visit.
        Take a tour of the rental space. Decide and book at affordable
        prices.<br />
        • Unlock Rs.1000 off on successfully booking your rental house/flat.<br />
        • Find budget-friendly, furnished homes in your desired cities, and move
        in safely and securely, Now!<br />
      </p>
    </div>
    <hr />
    <div class="contenttext" style="padding-right: 10px">
      <h4>Terms & Conditions</h4>
      <p>
        • It is applicable on all rental properties at nestaway.com/<br />
        • It cannot be clubbed with any other coupon/voucher.<br />
        • Valid only on the completion of the booking formalities of your rental
        property at Nestaway.<br />
        • Offer Validity : 31st June, 2022<br />
      </p>
    </div>
  </div>
</center>

{% endblock %}
