{% extends 'base.html' %}
{% load static %}
{% block metadesc %}
    <meta name="description"content="Shop a selection of OnePlus smartphones and accessories and save a lot by trying the OnePlus student offer, Now!" />
{% endblock %}
{% block metakeywords %} 
    <meta name="keywords" content="student discount oneplus, oneplus student discount, oneplus student discount india, oneplus student offer, oneplus student, oneplus student program, oneplus education program, educational programs for gifted students" />
{% endblock %}
{% block title %}Oneplus Student Discount | 5% off {% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
    .prdouctimg {
        background: rgb(255,195,198);
background: radial-gradient(circle, rgba(255,195,198,1) 31%, rgba(255,128,136,1) 100%);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/oneplus_inner.webp' %}" alt="" />
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/oneplus_logo.webp' %}" alt="" />
        </div>

        <div class="content">
            <h1>5% Student Discount</h1>
            <p><a href="https://www.oneplus.in/" target="_blank">at Oneplus</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://www.oneplus.in/education" target="_blank">Get Offer</a>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>About this Student offer</h4>
            <p>
            •	Buy smartphones, TVs, and audio accessories with OnePlus student discount offer.<br>
            •   Click on Get Offer to avail the offer.<br>
            •   Unlock 5% off on any product under OnePlus education program.<br>
            •   Shop a selection of OnePlus smartphones and accessories and save a lot by trying the OnePlus student offer, Now!<br>
            
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>Terms & Conditions</h4>
            <p>• Offer is applicable only for University students in India.<br>
               • Offer is not applicable for those who already tried the OnePlus student program in India. <br>
               • Offer Validity : 31st March, 2022<br>
               • Offer on OnePlus education program can be claimed only once per year.<br>
               • Student ID and verified educational status lasts 1 year. Re-verification is required to renew the student discount OnePlus. <br>
               • Read detailed Terms & Conditions before availing the OnePlus student discount India.<br>
               • To know more about OnePlus student offers, <a style="color:#0d6efd" href="https://www.oneplus.in/education">click here.</a><br>
               • StudentPeeps only redirects you to the official brand’s website, and has not partnered up with OnePlus India. All queries and disputes concerning OnePlus student discount have to be entertained by OnePlus India and not StudentPeeps.<br>      
            </p>
        </div>
    </div>
</center>


{% endblock %}