{% extends 'base.html' %}
{% load static %}

{% block metadesc %}
    <meta name="description"content="Get student discounts on flight bookings with the Student Discount Scheme of SpiceJet Limited. Unlock up to 10% discount on base fare on domestic flights and 10 Kg extra on all flights under Spicejet student offer with Studentpeeps. Avail Spicejet student discount baggage allowance on Studentpeeps. Sign up on Studentpeeps and get student discount on flights SpiceJet." />
{% endblock %}

{% block metakeywords %} 

<meta name='keywords' content='Spicejet, spicejet student discount, spicejet student discount baggage allowance, spicejet student offer, student discount on flights spicejet, student discount flights - must use, great flight offer for students'>


{% endblock %}
{% block title %}SpiceJet Student Discount | 10% off{% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
    .prdouctimg {
        background-image: radial-gradient(circle, #e6af75, #e0a36f, #da976a, #d38b65, #cc7f61, #c1775b, #b57056, #aa6850, #996148, #885a41, #78533b, #684c36);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/spicejet_inner.webp' %}" alt="" />
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/spicejet_logo.webp' %}" alt="" />
        </div>

        <div class="content">
            <h1>Upto 10% Student Discount <br>+ extra baggage</h1>
            <p><a href="https://www.spicejet.com/" target="_blank">at SpiceJet</a></p>
        </div>

        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://www.spicejet.com/" target="_blank">Get Offer</a>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>About this Student offer</h4>
            <p>
            • Grab discounts on flight bookings with the Student Discount Scheme of SpiceJet Limited.<br>
            • Click on Get Offer to avail the offer.<br>
            • Unlock upto 10% discount on the base fare on domestic ﬂights and 10 Kg extra baggage on all flights.<br>
            • Make the most of your student identity. Grab student discount on all domestic flights by taking the Spicejet student discount, Now!<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>How to redeem?</h4>
            <p>• Students have to select the student option after re-direction in order to avail the discount.<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>Terms & Conditions</h4>
            <p> • The Scheme is applicable only for students, 12 years old and above, belonging to a bonaﬁde school/university in India; AND is NOT applicable to any friends and/or relatives.<br>
                • The Scheme is valid for all Domestic one way and round trip bookings.<br>
                • SpiceJet will provide upto 10% discount on the base fare on domestic ﬂights. All other applicable charges/ fees/ taxes etc. are payable by the passenger.<br>
                • Under Spicejet student discount baggage allowance, students will be entitled for a check-in baggage allowance of 15 Kg and an additional 10 Kg upon showing their valid Student ID card at the check-in counter.<br>
                • This Scheme, in any manner, cannot be clubbed with any other scheme/offer/discount/ promotion etc.<br>
                • Read detailed Terms & Conditions before availing the Spicejet student offer.<br>
                • To know more about student discount on flights SpiceJet , <a style="color:#0d6efd" href="https://corporate.spicejet.com/StudentDiscountLanding.aspx">click here.</a><br>
                • StudentPeeps only redirects you to the official brand’s website, and has not partnered up with SpiceJet Limited. All queries and disputes concerning Spicejet student discount, have to be entertained by SpiceJet and not StudentPeeps<br>
            </p>
        </div>
    </div>
</center>


{% endblock %}