{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> To Be Honest{% endblock %}

{% block linkshead %}
<meta name="description"content="Get To Be Honest Foods coupon codes and promo codes on Studentpeeps. Get student discount codes for ToBeHonest Foods on Studentpeeps. Get 15% ToBeHonest Foods Promo Codes on Studentpeeps.">

<link rel="stylesheet" href="{% static 'css/getcode.css' %}">
<style>
    .prdouctimg {
        background-image: radial-gradient(circle, #f0f0ea, #e7e6ce, #dfdbb1, #d8d095, #d2c578, #c6af66, #ba9a55, #ad8545, #8f663e, #6d4a35, #48322a, #231d1c);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'images/tbh_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'images/company5.png' %}" alt="">
        </div>

        <div class="content">
            <h1>15% Student Discount</h1>
            <p><a href="https://www.tobehonest.in/" target="_blank">at To Be Honest</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/student-discount-to-be-honest">Get Code</a>
        </div>
        <hr>
        <div class="contenttext">
            <h4>About this student discount</h4>
            <p> • Order any crunchies pack at a discount with Studentpeeps.<br>
                • Use our To Be Honest student discount code at the checkout.<br>
                • Unlock flat 15% off on your favorite crunchies order.<br>
                • Refuel yourselves by having the flavorsome crunchy delights, Now!
                </p>
        </div>
        <hr>
        <div class="contenttext">
            <h4>Terms & Conditions</h4>
            <p> • It is applicable on every crunchy & chips at tobehonest.in <br>
                • It cannot be clubbed with any other coupon/voucher.<br>
                • Valid only on minimum order of Rs. 899.<br>
                • It is an additional discount on top of the 25% offered by ToBeHonest on their website
                </p>
        </div>
    </div>
</center>


{% endblock %}


    
