{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> Udemy{% endblock %}

{% block linkshead %}
<meta name='keywords' content='udemy student discount, is udemy free for students, how often does udemy offer discounts, udemy coupon codes, udemy coupon codes 2021'>

<meta name="description" content="Get udemy student discount. Unlock Rs.100 off with udemy coupon codes. Learn skills by accessing courses at Udemy. Is udemy free for students? Maybe not, but avail udemy student discount with Studentpeeps. Udemy coupon codes 2021 are available for students. Wondering how often does udemy offer discounts? With Studentpeeps, the answer is always.">

<link rel="stylesheet" href="{% static 'css/getcode.css' %}">
<style>
    .prdouctimg {
        background: rgb(238,238,236);
        background: radial-gradient(circle, rgba(238,238,236,1) 19%, rgba(182,176,171,1) 100%);
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/udemy_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/udemy_logo.webp' %}" alt="">
        </div>

        <div class="content">
            <h1>Rs.100 Gift Card for Students</h1>
            <p><a href="https://www.udemy.com/" target="_blank">at Udemy</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://studentpeeps.club/student-discount-udemy/">Get Code</a>
        </div>
        <hr>
        <div class="contenttext">
            <h4>About this student discount</h4>
            <p> • <b>After clicking on get code, coupon will get you 100 credits, and might not work, <br>at checkout.</b><br>
                • Avail Udemy student discount on all courses at Udemy.<br>
                • Click on Get Offer to avail the offer.<br>
                • Unlock Rs.100 off when you redeem the Udemy coupon codes.<br>
                • Wondering how often does Udemy offer discounts? With Studentpeeps, the answer is always.<br>
                • Skill-up with online courses at Udemy. Brush up your design and marketing skills, or master softwares or photography learning, Now!
                
            </p>
        </div>
        <hr>
        <div class="contenttext">
            <h4>Terms & Conditions</h4>
            <p>• This offer is for a promotional code. <br>
            • Limit one per person. <br>
            • Udemy student discount offer is valid only in India.<br>
            • Udemy student discount code can only be redeemed once and cannot be combined with other promotional codes at checkout. <br>
            • Udemy student discount code is non-transferrable and cannot be redeemed for cash.<br>
            • Please read Udemy’s Terms of Use for additional terms.  <br>
            • Still searching Udemy coupon codes 2021? Avail them here with us<br>
            </p>
        </div>
    </div>
</center>


{% endblock %}

