{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> UnluClass{% endblock %}

{% block linkshead %}
<meta name="description"content="Get flat 50% UnluClass coupon codes and promo codes on Studentpeeps. Get student discount codes for UnluClass on Studentpeeps. Get flat 50% UnluClass Promo Codes on Studentpeeps.">


<link rel="stylesheet" href="{% static 'css/getcode.css' %}">

<style>
    .prdouctimg {
       background: rgb(112,93,167);
        background: radial-gradient(circle, rgba(112,93,167,1) 38%, rgba(33,22,65,1) 100%);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'images\unluclass_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'images/unluclass.png' %}" alt="">
        </div>

        <div class="content">
            <h1>40% Student Discount</h1>
            <p><a href="https://cutt.ly/TRYJNQX" target="_blank">at UnluClass</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/student-discount-unlu-class">Get Code</a>
        </div>
        <hr>
        <div class="contenttext">
            <h4>About this student discount</h4>
            <p>• Avail any course at a discount with Studentpeeps. <br>
               • Use our Unluclass student discount code at the checkout. <br> 
               • Unlock 40% off on your favorite course. <br>
               • Grab your chance to learn skills from India’s most inspiring celebrities, Now!                                
            </p>
        </div>
        <hr>
        <div class="contenttext">
            <h4>Terms & Conditions</h4>
            <p>• It is applicable on all classes at Unlu.io. <br>
               • It cannot be clubbed with any other coupon/voucher. <br>
               • Coupon Validity : 1 Month                               
            </p>
        </div>
    </div>
</center>


{% endblock %}


    
