{% extends 'base.html' %}
{% load static %}

{% block metadesc %}
    <meta name="description" content="Get student discounts on domestic and international flights with Vistara Student Discount. Unlock up to 10% discount on Vistara flights under Vistara student offer available on Studentpeeps. Get Vistara airlines student discount with Studentpeeps. Enjoy up to 10% discount for students with Vistara student discount at Studentpeeps." />
{% endblock %}

{% block metakeywords %} 

<meta name='keywords' content='Vistara, Vistara student discount, vistara student offer, vistara airlines student discount, vistara student baggage allowance domestic'>


{% endblock %}
{% block title %}Vistara Student Discount | 10% off{% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/getcode.css' %}" />
<style>
    .prdouctimg {
        background-image: radial-gradient(circle, #9c7e72, #a58179, #ad8482, #b4888d, #ba8c98, #bb8c9d, #ba8ca3, #b98ca9, #b488a9, #ae84aa, #a780aa, #a07dab);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'img/Tiles_inner/vistara_inner.webp' %}" alt="" />
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'img/Logos/vistara_logo.webp' %}" alt="" />
        </div>

        <div class="content">
            <h1>Upto 10% Student Discount</h1>
            <p><a href="https://www.airvistara.com/in/en" target="_blank">at Vistara</a></p>
        </div>

        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="https://www.airvistara.com/in/en/flight-booking" target="_blank">Get Offer</a>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>About this Student offer</h4>
            <p>
            • Grab discounts on domestic and international flights with Vistara Student Discount.<br>
            • Click on Get Offer to avail the offer.<br>
            • Unlock upto 10% off on the base fare (when travelling within India) and additional baggage   allowance. (when travelling outside India)<br>
            • Search lowest airfares while booking domestic and international flights by taking the Vistara student discount, Now!<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>How to redeem?</h4>
            <p>• Students have to select the student option after re-direction in order to avail the discount.<br>
            </p>
        </div>
        <hr>
        <div class="contenttext" style="padding-right: 10px;">
            <h4>Terms & Conditions</h4>
            <p> • A student studying in India or enrolled in a bonafide school or an educational establishment in the country. (For travel within India)<br>
                • A student having a valid visa for and enrolled in a university at any of the international destinations we fly to. (For travel outside India)<br>
                • Student’s age must be 12 years or above on the date of commencement of journey.<br>
                • A valid student Identification Proof (ID) of school/educational institution is mandatory for travel under this offer.<br>
                • Read detailed Terms & Conditions before availing the Vistara student offer.<br>
                • To know more about Vistara airlines student discount, <a style="color:#0d6efd" href="https://www.airvistara.com/in/en/vistara-exclusives/vistara-student-discount">click here.</a><br>
                • StudentPeeps only redirects you to the official brand's website, and has not partnered up with Vistara. All queries and disputes concerning Vistara student discount, have to be entertained by Vistara and not StudentPeeps.<br>
            </p>
        </div>
    </div>
</center>


{% endblock %}