{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> Whole Truth Food{% endblock %}

{% block linkshead %}
<meta name="description"content="Get flat 25% Whole Truth Foods Promo Codes on Studentpeeps. Get The Whole Truth Foods promo coupon codes and promo codes on Studentpeeps. Get flat 25% student discount codes for Whole Truth Foods on Studentpeeps.">

<link rel="stylesheet" href="{% static 'css/getcode.css' %}">
<style>
    .prdouctimg {
        background-image: radial-gradient(circle, #818991, #90939e, #a19daa, #b3a6b3, #c6b0ba, #bea6ac, #b59c9f, #ac9392, #897472, #685653, #483936, #2b1f1c);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'images/wtf_inner.webp' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'images/wtf.jpg' %}" alt="">
        </div>

        <div class="content">
            <h1>25% Student Discount</h1>
            <p><a href="https://cutt.ly/snkEp6j" target="_blank">at WholeTruthFood</a></p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/student-discount-whole-truth-food">Get Code</a>
        </div>
        <hr>
        <div class="contenttext">
            <h4>About this student discount</h4>
            <p>• Grab every snack at a discount with Studentpeeps.<br>
               • Use The Whole Truth student discount code at the checkout.<br> 
               • Unlock 25% off on your favorite snack-bar boxes.<br>
               • Order the most yummy Muesli and energy bars, Now!</p>
        </div>
        <hr>
        <div class="contenttext">
            <h4>Terms & Conditions</h4>
            <p> • It is applicable on every snack at thewholetruthfoods.com.<br>
                • It cannot be clubbed with any other coupon/voucher.<br>
                • Valid only 3 times per user.<br>
                • Coupon Validity : 3 Months.
            </p>
        </div>
    </div>
</center>


{% endblock %}


    
